[2021-01-10 12:46] Rantzur1992 opened #47 "Cleanup steps falsely try to start a new driver session"
Specflow test.
Feature:
[code]

Code:
[code]
Error:
[code]

Agent logs show the dev token is not passed from the SDK:
`GET https://api.testproject.io/api/v1/agent/tokens?type=Development&token= - 400 (h8HRAJen): Bad data was provided: A value is required but was not present in the request.`

[2021-01-10 14:59] Rantzur1992 opened #48 "Dev session starts, browser crashes"
Spec flow test:
[code]

[code]

The test starts, dev session opens, then just closes.
Logs show dev session socket getting closed.

[code]

[2021-01-15 14:56] basdijkstra opened #57 "Selecting a value from a Select dropdown results in a reporting error"
When I execute the following line in a test:

[code]
I see an error message in the log:

`2021-01-15 15:53:22.6015 | ERROR | TestProject.OpenSDK.Internal.ReportsQueue | Agent returned HTTP 500 with message:`

indicating that there's an error in the DriverCommandReport that's being sent to the Agent. Apparently it doesn't like the `findChildElements` driver command.. This should be fixed as it resu

[2021-01-17 07:41] Rantzur1992 opened #59 "Assert fails yet test shows as passed in the reports"
Tests:
[code]

First test passes, 2nd one fails:
![image](https://user-images.githubusercontent.com/6703682/104834455-04033080-58a8-11eb-9ec9-d251788072e5.png)

Yet both show as passed in the reports:
![image](https://user-images.githubusercontent.com/6703682/104834469-27c67680-58a8-11eb-8f33-5da5bdbf60b7.png)

[2021-01-17 07:57] Rantzur1992 opened #60 "[Generic Tests] System.UriFormatException : Invalid URI: The URI is empty."
Tests:
[code]

it seems to still try to navigate to a URI.

![image](https://user-images.githubusercontent.com/6703682/104834764-4168bd80-58aa-11eb-916b-e4657a61e9a0.png)

[2021-01-17 09:51] Rantzur1992 opened #61 "Capabilities are ignored"
Test:

[code]

Capabilities are ignored, and it will not launch chrome headless.
chrome driver logs show:
![image](https://user-images.githubusercontent.com/6703682/104836963-31f17080-58ba-11eb-8b4c-f27c54c739f3.png)

Just for reference, on Java, it works, and it looks like so:
![image](https://user-images.githubusercontent.com/6703682/104836970-3b7ad880-58ba-11eb-9dc2-a0c0b56bf29d.png)

[2021-01-18 10:22] basdijkstra opened #62 "SDK version read and sent to the Agent should be made dynamic"
Currently, we send a hard-coded `0.64.0` to the Agent, but this should be read from the package info instead.

See https://stackoverflow.com/questions/28635208/retrieve-the-current-app-version-from-package.

[2021-01-18 13:44] mstrelex commented on #57
@basdijkstra `result` for `findChildElements` should be an Array and not a JSON object.
We will handle it and fail gracefully but in order to make it work, data structure sent should be adjusted.

[2021-01-18 13:58] basdijkstra commented on #57
Thanks, that helps. I see what's going wrong now and will fix it.

[2021-01-18 14:24] Rantzur1992 commented on #48
But it works on normal selenium as is, so why should it matter.

[2021-01-18 14:24] basdijkstra commented on #62
Closing this because #63 has been merged into `main`.

[2021-01-18 14:24] #62 closed

[2021-01-18 16:00] Rantzur1992 commented on #48
So this is just a variation in how geko driver works.
using Driver instead of driver solved it.

[2021-01-18 16:00] #48 closed

[2021-01-18 16:21] basdijkstra commented on #61
I've just submitted #65, which addresses this issue. Once it has been merged, you should be able to retest it with the latest published version, @Rantzur1992 .

[2021-01-18 17:09] Rantzur1992 commented on #60
[code]

[code]

[2021-01-19 08:43] basdijkstra commented on #47
So I've been able to reproduce this on my own machine, @Rantzur1992, but it only happened because I accidentally tried to call `driver.Quit()` twice. I had two different step definition files, both with the following method:

[code]
Since SpecFlow looks in all classes annotated with `[Binding]` for hooks, it will execute both `[After]` methods. When I commented out the `this.driver.Quit();` on one

[2021-01-19 10:44] basdijkstra commented on #57
As the PR containing the fix for this issue has been merged, I'm closing this issue.

[2021-01-19 10:44] #57 closed

[2021-01-19 11:38] basdijkstra commented on #61
Since #65 has now been merged, you should be able to retest this with the latest pre-release version, @Rantzur1992.

[2021-01-19 15:53] Rantzur1992 commented on #60
Could not reproduce, it started working for some reason.
Closing.

[2021-01-19 15:53] #60 closed

[2021-01-19 15:53] Rantzur1992 commented on #61
Verified in the latest version.
Closing.

[2021-01-20 08:32] basdijkstra commented on #47
I have just submitted #67, which should improve the error handling, @Rantzur1992. Could you have another look when that one is merged? The easiest way to test it is to simply call `driver.Quit()` twice.

[2021-01-20 08:33] basdijkstra opened #68 "Generic Driver options serialization fails"
After implementing and merging #65, the GenericDriver options cannot be serialized anymore, effectively breaking the ability to use a GenericDriver.

`Initialization method TestProject.OpenSDK.Tests.Examples.Drivers.GenericDriverTest.StartDriver threw exception. System.NotImplementedException: The method or operation is not implemented..`

[2021-01-20 09:39] basdijkstra commented on #68
I've just submitted #69, which fixes this issue. Once #58 has been merged, I'll also add a test for the generic driver to the CI so ensure that it keeps working as intended.

[2021-01-20 10:33] Rantzur1992 commented on #61
@basdijkstra  This works only in Chrome, on FireFox it is still ignored.

[2021-01-20 10:40] basdijkstra commented on #61
No it's not, at least not here:

[code]

Don't forget the dash in `-headless`, the Firefox argument is different from the Chrome one.

[2021-01-20 10:41] Rantzur1992 commented on #61
Oh google confused me on that one, thanks.

[2021-01-20 10:41] #61 closed

[2021-01-20 11:43] basdijkstra commented on #68
Closing this one as #69 has been merged.

[2021-01-20 11:44] #68 closed

[2021-01-21 10:05] SabotageAndi opened #71 "SpecFlow Plugin doesn't target .NET Framework 4.6.1"
Runtime plugins have to target .NET Framework 4.6.1 and .NET Standard 2.0.

Docs: https://docs.specflow.org/projects/specflow/en/latest/Extend/Plugins.html#runtime-plugins

.NET 4.6.1 does support "theoretical" .NET Standard 2.0, but we had problems with it (e.g. assembly load errors for netstandard.dll), and so we are targeting the runtime of SpecFlow for .NET 4.6.1 and .NET Standard 2.0. And tha

[2021-01-21 10:12] basdijkstra commented on #71
Hey @SabotageAndi, we did target .NET Framework 4.6.1 originally, but wouldn't that effectively make the plugin a Windows-only plugin? We run our CI on Linux machines and including .NET Framework 4.6.1 gave build errors, too, that's why we removed it.

@vitalybu, anything to add here?

[2021-01-21 10:36] SabotageAndi commented on #71
When you multitarget the project (produce .NET 4.6.1 assemblies and .NET Standard 2.0 assemblies) this is no problem. MSBuild picks depending on the project where the NuGet package is used, the correct assembly.

About building it on Linux. You probably need the reference assemblies.

[code]

In SpecFlow we have it in our Directory.Build.props file: https://github.com/SpecFlowOSS/SpecFlow/blob/mas

[2021-01-21 10:45] basdijkstra commented on #71
Thanks!

I'll add those soon and see what happens in CI.

[2021-01-21 11:19] basdijkstra commented on #71
I've just submitted #73, which adds .NET 4.6.1 as a target framework for the SpecFlow plugin.

[2021-01-21 14:59] basdijkstra commented on #71
Since #73 has been merged, could you have another look and close this issue when you think it’s OK now, @SabotageAndi ?

[2021-01-21 16:08] SabotageAndi commented on #71
Sorry @basdijkstra, but I forgot one .NET Core SDK behavior.
Since .NET Core 3.0 everything from the NuGet packages is copied to the output directory.
But this does not happen for .NET Core 2.1. In that case, only the NuGet package reference is not enough.

We solved this in SpecFlow and SpecFlow+ with some custom MSBuild props/targets in the NuGet package.
I made the needed changes in my fork at

[2021-01-21 16:27] SabotageAndi opened #74 "TestTracer API change with SpecFlow 3.6"
I noticed that you are inherit from `TestTracer`. With SpecFlow 3.6, which will be released probably on Monday, we are changing the interface. This will break your plugin.

Also I think there are better ways to integrate into SpecFlow. In 3.5 we added the [RuntimePluginTestExecutionLifecycleEvents](https://github.com/SpecFlowOSS/SpecFlow/blob/master/TechTalk.SpecFlow/Plugins/RuntimePluginTestExecu

[2021-01-21 17:55] basdijkstra commented on #74
Hmm.. That sounds like a rework of the plugin is a good idea. I won’t do that before Wednesday, though, since it works with SpecFlow 3.5 as of now and I don’t want to use untested code in a webinar.

I’ll make this high priority after that, it doesn’t sound like it is a very complicated operation now that I know how writing a plugin actually works..

[2021-01-21 18:03] basdijkstra commented on #71
Thanks. I’ll try and have a look at that tomorrow, or otherwise I’ll address it on Monday.

[2021-01-22 07:37] basdijkstra commented on #71
@SabotageAndi I'm happy to also add this to the C# SDK as well as the plugin, but I'm not entirely sure what risks we're running if we don't do this? I'm sort of new to this, so some more explanation would be very beneficial. Thanks!

[2021-01-22 10:43] SabotageAndi commented on #74
Then please limit the NuGet package to SpecFlow 3.5. We will have 3.6 out on Monday and with the breaking change, it will not work for the users. They will get probably some MethodNotFoundExceptions.

[2021-01-22 10:52] basdijkstra commented on #74
Currently, SpecFlow itself is not actually a dependency of the plugin. Do you recommend adding it as a dependency? I think that's the only way in which we can put hard restrictions on the SpecFlow version.

We're currently discussing if and how we will keep supporting the current plugin, redesigning it so it can be used with SpecFlow 3.6 is a top priority.

[2021-01-22 10:55] SabotageAndi commented on #74
About which dependency are we talking?

You have it in the csproj: https://github.com/testproject-io/csharp-sdk/blob/main/TestProject.OpenSDK.SpecFlowPlugin/TestProject.OpenSDK.SpecFlowPlugin.csproj#L29
and in the NuGet package https://www.nuget.org/packages/TestProject.OpenSDK.SpecFlowPlugin/0.0.0.247-rc

![image](https://user-images.githubusercontent.com/859801/105482408-9f314700-5ca8-11eb-8325-

[2021-01-22 11:12] basdijkstra commented on #74
Today is not my day :S Thanks. Just submitted #75 which restricts the plugin (in its current implementation) from being used together with SpecFlow 3.6.

As soon as the new plugin is ready, well simply support anything from SpecFlow 3.5.5 upwards.

[2021-01-25 13:11] basdijkstra commented on #74
Hey @SabotageAndi, I could use a little help here... I've sent you a couple of messages on the SpecFlow Discord channel, too. Thanks!

[2021-01-25 13:15] SabotageAndi commented on #74
@basdijkstra I just saw them. I am in a call until 3 and will answer you then. Ok?

[2021-01-25 13:16] basdijkstra commented on #74
Thanks :)

[2021-01-25 16:18] basdijkstra commented on #74
I've just submitted #76, which contains the new implementation of the SpecFlow plugin that should be compatible with SpecFlow 3.6. Thanks again, @SabotageAndi, for the quick answers to my questions.

[2021-01-26 09:23] s-glatshtein opened #77 "Test name not always reported when driver.Quit() isn't called"
I ran this code sample:
[code]

After running it, I expected to see `MyFirstTest` as test name in the reports, but instead it was `Test`.
I don't think it happens every time, but happened quite often.
**NOTE:** all the driver commands are always reported correctly (at least on my machine) so there is that :)

[2021-01-26 10:18] basdijkstra commented on #77
This line should take care of that, but obviously it doesn't work as well as it should..

https://github.com/testproject-io/csharp-sdk/blob/322acafbfe55960d44746fee3802802143360e87/TestProject.OpenSDK/Drivers/BaseDriver.cs#L90

I'll have a closer look.

[2021-01-26 10:26] s-glatshtein commented on #77
I took a closer look at the logs, and it looks like the socket is disconnected before the test name is reported. Maybe there's a race condition between the two, which causes the problem?
I had a similar issue in java-sdk. Here's the issue link: https://github.com/testproject-io/java-sdk/issues/69

[2021-01-26 10:56] s-glatshtein opened #78 "Improve test name inferring for testing platforms"
Given the following NUnit test method:
[code]

My expectation would be that test name would be inferred as `My first test`, but instead the reports show `MyFirstTest` (the method name).
I get the same behavior when using Xunit test with the following attribute:
[code]
And MSTest when using the following attribute:
[code]

[2021-01-26 11:09] basdijkstra commented on #78
You're right, these are not yet detected by the inferrer mechanisms. Labeling this as an enhancement, shouldn't be too difficult to implement.

[2021-01-27 15:03] ZBlocker655 opened #85 "Stub OpenSDK C# test fails in ChromeDriver constructor"
This started as a [TestProject community post](https://forum.testproject.io/t/stub-opensdk-c-test-fails-in-chromedriver-constructor/3960), but on the advice of one of the commenters, I am cross-posting the issue here.

---

Trying to convert my .NET test project from SDK to OpenSDK.  I'm getting a `NullReferenceException` on the following line:

[code]

Here's what I get:
[code]

# What I already

[2021-01-27 15:10] basdijkstra commented on #85
Hey @ZBlocker655, thank you for submitting this. I'll try and look into it ASAP and see if I can reproduce it. Many thanks for supplying your `.csproj` file, too, that's really helpful :)

[2021-01-27 15:16] ZBlocker655 commented on #85
I should mention that my proxy server was not running, nor was the SUT.  I was trying to make it fail under these circumstances before I started up the test environment and proxy.

The older SDK project allowed the driver to be instantiated, but (correctly) failed on the `Navigate(...)` line.

[2021-01-27 15:17] basdijkstra commented on #85
Does it create a new driver session when you put that code in the `[Fact]` method itself? Just curious..

[2021-01-27 15:24] ZBlocker655 commented on #85
What do you know?  Moving the constructor's code into the `[Fact]` method worked.  The `GoToUrl()` method also passed without error, even though the server is not running.  Is that expected?

[2021-01-27 17:50] basdijkstra commented on #85
I don't know.. Does that pass when you use 'vanilla' Selenium without the SDK as well? All we do, really, is forward the WebDriver command that's executed..

I'm definitely going to look closer into this issue because our inferring logic (the code that detects SpecFlow and the supported unit testing frameworks) should be able to handle this situation.

[2021-01-27 17:51] basdijkstra commented on #77
Hey @s-glatshtein, can this one be closed now that #84 is merged?

[2021-01-27 17:52] basdijkstra commented on #78
Hey @s-glatshtein, can this one be closed now that #80 is merged?

[2021-01-27 18:45] s-glatshtein commented on #77
sure thing!

On Wed, Jan 27, 2021 at 7:51 PM Bas Dijkstra <notifications@github.com>
wrote:

[2021-01-27 18:46] s-glatshtein commented on #78
sure!

On Wed, Jan 27, 2021 at 7:52 PM Bas Dijkstra <notifications@github.com>
wrote:

[2021-01-27 18:56] ZBlocker655 commented on #85
I'm especially interested in this because I'm interested in possibly starting the driver before any tests run (that's related to the question I asked in your webinar...)  And I would be interested in understanding _under the hood_ why that driver instantiation would fail in the test constructure - as in, what necessary infrastructure is not up and running when XUnit instantiates the test class vs

[2021-01-27 21:22] ZBlocker655 commented on #85
I'm not getting very far running the plain Selenium `ChromeDriver`:

[code]

[2021-01-28 07:52] basdijkstra commented on #85
This is more of an issue with the way the SDK is implemented, or rather, how the detection of whether you're running your tests as part of a SpecFlow feature / scenario is implemented. That's probably causing some problems when you create the driver in the constructor of your test classes. I'll keep you updated.

[2021-01-28 07:54] basdijkstra commented on #85
Not just worthwhile, but necessary. While the TestProject Agent takes care of driver configuration for you, if you use vanilla Selenium, you'll need to download the `chromedriver.exe` for your OS and Chrome version from https://chromedriver.chromium.org/downloads and add the folder that contains the unzipped .exe to your PATH. If not, Selenium doesn't know how to start the chromedriver and hence i

[2021-01-28 08:52] basdijkstra commented on #78
Excellent. Closing.

[2021-01-28 08:52] #78 closed

[2021-01-28 08:53] basdijkstra commented on #77
Excellent. Closing.

[2021-01-28 08:53] #77 closed

[2021-01-28 09:56] basdijkstra commented on #74
@SabotageAndi what should we do to close this issue? Do you want to test it for yourself using SpecFlow 3.6? Should I do it once again and show you the results? I'd like to get this one off the list.

[2021-01-28 09:57] basdijkstra commented on #47
Hey @Rantzur1992, what can we do to get this issue off the list? Can you test again with the latest (prerelease) version? Should I do anything? I'd like to clean up the issue list.

[2021-01-28 10:06] SabotageAndi commented on #74
I wasn't aware that you are waiting on me to close the issue.

[2021-01-28 10:06] #74 closed

[2021-01-28 16:42] ZBlocker655 commented on #85
Ok, I got it running by [embedding it in the project](https://github.com/jsakamoto/nupkg-selenium-webdriver-chromedriver/issues/42).  The driver instantiates in the constructor and the test itself is green.

[2021-01-31 09:30] gileli121 opened #87 "[Readme] Readme issues"
Hi, I found readme issue here:

![image](https://user-images.githubusercontent.com/17680514/106379791-15276380-63b7-11eb-9518-49fd59d5711f.png)

I found that this is the way that it can be compiled
[code]

@basdijkstra
I prefer if you create tag called `readme` so I will able to open multiple readme issues instead of opening it in one issue as I have been told.  Otherwise, I will edit this message

[2021-01-31 11:37] gileli121 opened #88 "Test name in report is wrong (after using driver.Quit()) [SDK 0.65.1]"
**EDIT:
Please read first the second comment to save your time.
https://github.com/testproject-io/csharp-opensdk/issues/88#issuecomment-770370784
I found isolated scenario**

I executed the following red part:
![image](https://user-images.githubusercontent.com/17680514/106382398-0e551c80-63c8-11eb-865f-c39a120a01d6.png)

The issue is that in report, the name of the test is the name of the method w

[2021-01-31 11:56] gileli121 commented on #88
I found isolated scenario.
In this case:

[code]
The test name in reports will be `ExecuteBasicStuffInDevSession`

And in this case:

[code]
The test name in reports will be `Local_Chrome_Dev_Session` as expected

[2021-01-31 12:26] gileli121 commented on #88
Another case is if you don't use `driver.Quit()` at all.
According to @s-glatshtein , it is another case of the same issue.
If the code is only this:
[code]

You get in reports this name:
![image](https://user-images.githubusercontent.com/17680514/106383734-3d6f8c00-63d0-11eb-936e-a427ff2218b8.png)

[2021-01-31 12:45] gileli121 opened #89 "element.GetAttribute(*) returns null when using FirefoxDriver from OpenSDK [SDK 0.65.1]"
The following code will fail because I used FirefoxDriver from the OpenSDK
[code]

The following code will work as expected (FirefoxDriver is directly from OpenQA.Selenium):
[code]

This issue is not happening when using `ChromeDriver`

[2021-01-31 14:19] gileli121 opened #90 "driver.ExecuteScript fails when using driver from OpenSDK [SDK 0.65.1]"
The following code will fail:
[code]
![image](https://user-images.githubusercontent.com/17680514/106386825-83801c00-63df-11eb-9421-6ffa5ee6285d.png)

If I change `TestProject.OpenSDK.Drivers.Web.ChromeDriver` to `OpenQA.Selenium.Chrome.ChromeDriver()` it will work:
[code]

It did not returned as `bool`. Seems that something else is returned and you can see it if you remove the casting:
![image](ht

[2021-01-31 15:10] basdijkstra commented on #88
@s-glatshtein might this have anything to do with your recently added support for test descriptions or is this something else altogether?

[2021-01-31 16:26] s-glatshtein commented on #88
It would be, except I didn't touch the logic that detects the test method. I only changed the way the test name is selected

[2021-02-01 10:19] dorbenzvi opened #91 "Generated reports on xunit contain wrong test details - OpenSDK [SDK 0.65.1]"
Generated reports while using xunit is not inferring the correct project name, job name, and test name.
Code:

`using System;
using Xunit;

namespace XUnitTestProject1
{
    using OpenQA.Selenium;
    using TestProject.OpenSDK.Drivers.Web;

    public class UnitTest1
    {
        private ChromeDriver driver;
        [Fact]
        public void StartBrowser()
        {
            this.driver = new

[2021-02-01 10:36] RoganMatrivski opened #92 "FindElement returns elementDictionary Exceptions with some By function"
As title describes, the FindElement returns elementDictionary Exceptions with some By function. Also occurs with it's derivatives like FindElementWithXXXX. The code was a perfect copy from the XUnit examples here:
https://github.com/testproject-io/csharp-opensdk/blob/main/TestProject.OpenSDK.Tests/Examples/Frameworks/XUnit/ExplicitReportTest.cs

When i change the FindElement By on line 37 with som

[2021-02-01 10:39] basdijkstra commented on #92
Hey @RoganMatrivski, this certainly does not look like expected behaviour. Thank you for reporting it, I'll have a look at it soon.

[2021-02-01 12:14] basdijkstra commented on #87
Just submitted #93 which fixes some bugs and inconsistencies in the README. Feel free to have a look if you want, @gileli121:

https://github.com/testproject-io/csharp-opensdk/blob/fix/issue_87_readme/README.md

[2021-02-01 14:40] basdijkstra commented on #91
I've just submitted #94, which addresses the broken project, job and test name inferring logic for xUnit.NET. I've also added some unit tests to hopefully prevent these issues from turning up again in the future..

[2021-02-01 16:19] basdijkstra commented on #92
It looks like this has something to do with not properly setting W3C properties on the HTTP command executor object..

[2021-02-03 09:27] gileli121 commented on #88
@basdijkstra @s-glatshtein
I found what cause the issue.
Seems that the troublemaker is if you add `[TestFixture]` to above the class.
Without `[TestFixture]` you will get the correct names.

But, for some reason the last test was just "Test". I don't know why.
I got this

![image](https://user-images.githubusercontent.com/17680514/106726195-c70e9c00-6612-11eb-8048-9aba8ba874f7.png)

For code:
[co

[2021-02-03 10:22] gileli121 opened #96 "NUnit - Disabled tests not reported"
Not sure if it is bug or maybe it is improvement.
Anyway, I checked how the SDK works with disabled tests that have for example `[Ignore("Disabled for a reason")]`

This is the code I wrote:
[code]

In this case, the disabled test will not reported and you will see only the regular test that not disabled

![image](https://user-images.githubusercontent.com/17680514/106733324-6e430180-661a-11eb-8b3d

[2021-02-03 10:24] basdijkstra commented on #96
Of course this test will not be reported. The test will not be executed in the first place (that's what the `@Ignore` annotation does), so no driver session will be created and no report will be sent to TestProject.

I don't see this as a bug, nor do I think anything should be improved here, it works exactly as I expected.

[2021-02-03 10:27] basdijkstra commented on #88
Thanks for the clarification, that helps finding out what's going on here.

[2021-02-03 13:02] gileli121 commented on #87
@basdijkstra
I can't see the link.
Getting 404

[2021-02-03 13:09] basdijkstra commented on #87
I see, that's because the PR has been merged already. Here you go:

https://github.com/testproject-io/csharp-opensdk/blob/main/README.md

[2021-02-03 13:48] gileli121 commented on #87
Great,
Another thing, Do we support data driven in NUnit, MSTest and XUnit?
I did not found information about it in the readme.

If we don't support it, I think that we should specify it under new section called "Limitation"

[2021-02-04 10:09] basdijkstra commented on #92
Just a quick update here: it's complex.

There was an issue with the driver not being set into W3C mode correctly, which caused the locators to not be recognized. That has been fixed, however, for some reason now all commands that involve executing JavaScript (`IsDisplayed`, etc.) don't work anymore because it looks like these commands are sent to the wrong WebDriver endpoint. Still under investig

[2021-02-04 12:51] Rantzur1992 opened #97 "xUnit Fixtures Test fails with System.NullReferenceException : Object reference not set to an instance of an object."
Code:

[code]

csproj:

[code]

Error:

[code]

[2021-02-04 13:17] basdijkstra commented on #97
Hey @Rantzur1992, isn't this the same issue as #85?

[2021-02-04 13:29] Rantzur1992 commented on #97
Indeed it is, I did not see it.
Closing this as a duplicate then.

[2021-02-04 13:29] #97 closed

[2021-02-05 10:15] Chrys123 opened #98 "I want to convert my automation Tests from SDK V1 to Open SDK"
I need to use the Test Fixtures from NUnit for multiple browsers, but before there was a runner that I could do that, now there isnt.

I would need to accommodate multiple browsers on my local environment and also convert my project structure to Open SDK as seamlessly as possible.

I am using the Page object model and I also would like to do global driver initialisation for all my tests, something

[2021-02-05 10:20] basdijkstra commented on #98
@s-glatshtein since you're the expert on the SDK v1, could you help @Chrys123 out here? I'm happy to provide some examples using page objects for the OpenSDK for different browsers, although most of those can be found in the examples already:

https://github.com/testproject-io/csharp-opensdk/tree/main/TestProject.OpenSDK.Tests/Examples

[2021-02-05 10:55] Chrys123 commented on #98
I would need to accomodate multiple browser execution from my frameworkk,

[2021-02-05 10:59] basdijkstra commented on #98
I am sure there are plenty of examples on how to do that with Selenium to be found online. Since all we do with the SDK is extend the existing Selenium browsers, the only thing you'd need to change is import the driver class (`ChromeDriver`, etc.) from the SDK rather than from Selenium itself.

[2021-02-05 11:02] basdijkstra commented on #98
Closing.

[2021-02-05 11:09] Chrys123 commented on #98
hmm im  sorry but testproject directed me here.

It's hard to use the fixtures here without the common runner that existed in previous SDK

[2021-02-05 11:19] basdijkstra commented on #98
@Chrys123 could you give me a code example of your current test setup then? An example or two of test classes (i.e., classes annotated with `[TestFixture]`) will do. I'll see what I can do for you.

[2021-02-05 11:29] Chrys123 commented on #98
using NUnit.Framework;
using TestProject.Common.Enums;
using TestProject.SDK.Examples.Web.Test.Base;

namespace TestProject.SDK.Examples.Web.Runners.Nunit
{
	[TestFixture(AutomatedBrowserType.Chrome)]
	[TestFixture(AutomatedBrowserType.Edge)]

	public class RevalidationTests : TestBase
	{
		Runner runner;

		public RevalidationTests(AutomatedBrowserType automatedBrowserType){
			runner = new Runne

[2021-02-05 11:52] basdijkstra commented on #98
How about something like this?

[code]
The `BrowserType` enum can be found in the `TestProject.OpenSDK.Internal.Helpers.DriverOptions` namespace. I would recommend you creating an enum of your own, though, that contains all the browser type your test supports.

[2021-02-05 11:54] Chrys123 commented on #98
Thanks for the help. Is there any open sdk documentation that gives me the interfaces and the libraries?

[2021-02-05 12:03] basdijkstra commented on #98
Other than the documentation provided in the code and the examples in the README.md, no, at least not yet. You could always clone the repository and generate that documentation yourself using a tool of your preference, though.

[2021-02-05 12:27] basdijkstra commented on #98
@Chrys123 please let me know if there's anything else I can do to help on this subject. If not, please feel free to close the issue. Thanks.

[2021-02-05 13:10] #98 closed

[2021-02-07 04:39] ZBlocker655 commented on #85
@basdijkstra I'm looking at the Fixie test framework to see if I can figure out a way to start the driver without triggering a crash. I'll let you know if I have any success.

[2021-02-08 08:32] Chrys123 opened #99 "Why did you delete my question about the multiple browser setup????"
I had asked for an example about multiple browser setup and you deleted it

[2021-02-08 08:54] basdijkstra commented on #99
The example I gave you is still there: https://github.com/testproject-io/csharp-opensdk/issues/98. It has just moved to the closed issues because you closed the issue.

[2021-02-08 09:37] Chrys123 commented on #99
I cant see it unless i have the specific link.

I will close this

[2021-02-08 09:37] #99 closed

[2021-02-08 10:58] basdijkstra commented on #90
Working on this in parallel with #92 as now stuck on the same problem there.

[2021-02-08 17:11] Rantzur1992 opened #100 "Webdriver times out no matter the defined timeout for page load"
The Tests and imports
[code]

[code]

Note, this does not happen while using the webdriver from selenium.

[2021-02-09 09:07] basdijkstra commented on #92
I have just submitted #101, which fixes this issues by properly setting the command info repository for the inherited `RemoteWebDriver` and `HttpCommandExecutor` to W3C mode when the session is W3C (which it nearly always is).

[2021-02-09 09:08] basdijkstra commented on #90
I have just submitted #101, which fixes this issues by properly setting the command info repository for the inherited `RemoteWebDriver` and `HttpCommandExecutor` to W3C mode when the session is W3C (which it nearly always is).

[2021-02-09 09:10] basdijkstra commented on #89
I have just submitted #101, which fixes this issues by properly setting the command info repository for the inherited `RemoteWebDriver` and `HttpCommandExecutor` to W3C mode when the session is W3C (which it nearly always is).

@gileli121, please retest this with the latest SDK prerelease version after this PR has been merged, or with 0.65.2 when it has been released, and close the issue when you

[2021-02-09 09:16] basdijkstra commented on #100
I'll see what I can do to reproduce and fix this. Is the actual URL relevant to this situation, @Rantzur1992 ? Because you removed it from the code. Or will this happen with any website?

[2021-02-09 09:25] Rantzur1992 commented on #100
This can happen on every website which load time is long

[2021-02-09 11:04] basdijkstra commented on #88
So, I've simplified the test name inferring logic for NUnit and it now only looks at methods that are annotated with `[Test]`. I've tested it, and both with and without the (indeed optional) `[TestFixture]` attribute on the class, the reports look like this (I've included my own testing logic so all tests pass):

<img width="628" alt="screen" src="https://user-images.githubusercontent.com/10740451

[2021-02-09 11:08] basdijkstra commented on #88
I've just submitted #102 which contains the improved NUnit test name inferring logic. Please retest with the latest prerelease or with version 0.65.2 once it's released after this PR has been merged, @gileli121.

As I mentioned, I'll open a separate issue to further investigate what's happening in those tests where `driver.Quit()` isn't explicitly called.

[2021-02-09 13:01] basdijkstra commented on #96
Hey @gileli121, because it has been almost a week with no further comments or questions related to this issue, I'm closing it for now. Feel free to reopen it if you feel something needs to be done about the situation you describe.

[2021-02-09 13:01] #96 closed

[2021-02-09 13:07] basdijkstra commented on #85
Thank you for letting me know, @ZBlocker655. Is there anything that needs to be done from my/our side for this issue at the moment? If not, I'll close it soon.

[2021-02-09 14:34] ZBlocker655 commented on #85
No, I would leave the issue open, because we should know why instantiating the driver in the constructor causes an exception in the OpenSDK library, when it does not do so in the original SDK (v1) library.

Everything I'm doing now is merely an attempt to work around the problem.

[2021-02-09 14:36] basdijkstra commented on #85
Sure, no problem. Thank you for clarifying that. I'll dive deeper into it later this week, or maybe after the weekend.

[2021-02-11 18:11] s-glatshtein opened #103 "When TP_KEEP_DRIVER_SESSION is set, test names are not reported"
This happens with any driver and any test framework. If the environment variable is set, the test name won't be reported whether we quit the driver or not. Below is a small test sample:

[code]

[2021-02-16 08:05] Rantzur1992 commented on #100
@basdijkstra Any findings?

[2021-02-16 08:06] basdijkstra commented on #100
Not yet. I've been busy fixing other issues and implementing the mobile support. I'll keep you updated.

[2021-02-16 13:30] SabotageAndi commented on #92
I have the same issues in a project. Using the pre-release version fixes some problems, but for some scenarios, I am still getting the error.

Commit before adding TestProject where everything is green: https://github.com/SpecFlowOSS/Streaming-Projects/commit/7c47852e6482abf9af8d6f65b657d840543671e6
Commit after adding TestProject with 5 of 11 still failing: https://github.com/SpecFlowOSS/Streamin

[2021-02-16 13:36] basdijkstra commented on #92
Can you give me an example that reproduces your current issues, @SabotageAndi? Any specific commands that keep failing? I'm afraid I need more details so I can see what's happening here, exactly.

[2021-02-16 13:57] SabotageAndi opened #105 "Improve exception handling and error message in case no driver is found when using the SpecFlow plugin"
I tried the SpecFlow plugin with a project that doesn't use Selenium for automation to get the reporting capabilities. This was not possible, as I get the following exception:

[code]

I had a look in the code and found the check at https://github.com/testproject-io/csharp-opensdk/blob/main/TestProject.OpenSDK.SpecFlowPlugin/TestProjectPlugin.cs#L70

Looks like the underlying field is only initial

[2021-02-16 14:03] basdijkstra commented on #105
Hey @SabotageAndi, yes, this behavior is intentional. To set up a connection with the Agent (the process that takes care of all the reporting to the TestProject platform), you'll need to instantiate a TestProject driver. We don't report directly to TestProject Cloud from the test, that's all being taken care of by the Agent.

For those not using Selenium or Appium, we provide a `GenericDriver` tha

[2021-02-16 14:07] SabotageAndi commented on #105
Understood, but can't be this `GenericDriver` be instantiated automatically than throwing the exception?

If that is not possible, would it be possible to throw
1. a not internal exception
2. with an exception message that instructs the user what needs to be done

For me, this looks at the moment for an internal exception and I have no idea how to fix it, except opening an issue here or in the Spe

[2021-02-16 14:07] SabotageAndi commented on #92
Checkout the second commit and you should be able to reproduce the issue.

[2021-02-16 14:13] SabotageAndi commented on #105
Just tried it out. Adding a  `var client = new GenericClient()` fixed the problem.

[2021-02-16 14:14] basdijkstra commented on #105
I'm not sure how automatically instantiating a `GenericDriver` instance would help solve the problem in a way that preserves all reporting and options for customization.

I do agree that there's room for improvement in the exception handling here, so I'll focus on that for now.

[2021-02-17 13:55] SabotageAndi opened #106 "All Scenarios and Steps are under a single test when using GenericDriver with SpecFlow plugin"
Repro- Project: https://github.com/SabotageAndi/TestProjectSample

It is using SpecFlow with a GenericDriver for the OpenSDK (0.65.1.294-rc).
In the report on Testproject.io I get both scenarios under one test, which lists all the steps:

![image](https://user-images.githubusercontent.com/859801/108214017-f273a980-712f-11eb-93a8-7501b2675f6c.png)

I have it working in another example, but I won't

[2021-02-17 14:18] basdijkstra commented on #106
No, but that doesn't look right.. I'll dive into it. Again, got some other things to wrap up first, though.

[2021-02-17 16:15] SabotageAndi commented on #106
Not to put more pressure on you @basdijkstra, but I have next Wednesday a Webinar where I want to show the SpecFlow & TestProject integration.
Do you see a chance to have a look at this in time for it?

[2021-02-17 16:20] basdijkstra commented on #106
I can have a look tomorrow morning. Not sure how much time it will take to fix this.

[2021-02-18 08:07] basdijkstra commented on #106
I'm able to reproduce this on my machine, I'll dive into it later this morning to fix it.

[2021-02-18 08:22] basdijkstra commented on #106
Ah, this is easier to explain than I thought.

The `GenericDriver` does not automatically report new tests (or in this case, scenarios). That's done by design, because there are no WebDriver commands to trace and inspect. When you're using the `GenericDriver`, the user is responsible for reporting steps and tests themselves. As long as you don't do that, all steps will end up in the same test, whi

[2021-02-18 12:03] basdijkstra commented on #105
I've just submitted #108, which addresses this issue by:

- moving all the exceptions to a namespace that does not include `Internal` (this was misleading as the exceptions are visible to the SDK users)
- adding a `NoActiveDriverFoundException` that is thrown in the situation described in this issue.

The  exception message will be `No active Agent development session found. Please ensure that you

[2021-02-18 12:28] s-glatshtein opened #109 "SDK throws NullReferenceException when agent isn't running"
Reproducible by creating any new driver (I used ChromeDriver) while agent isn't running.
Running such a test throws the following exception:

[code]

[2021-02-18 12:32] SabotageAndi commented on #106
Thanks, your code worked.
I adjusted it slightly to pass the right value to the passed parameter

[code]

Is this something I overlooked in the documentation?

[2021-02-18 12:33] #106 closed

[2021-02-18 12:35] basdijkstra commented on #106
There might be some room for improvement there.. I'll see if I can work that in the next time I do some work on the docs.

[2021-02-18 15:16] basdijkstra commented on #109
I've just submitted #109, which addresses this issue by actively checking whether the connection creation returned an error. In that case, we'll throw an exception with a clear message.

[2021-02-18 15:34] basdijkstra commented on #87
This issue has been inactive for over two weeks now, so I'm closing it. Feel free to reopen it if you feel something still needs to be addressed.

[2021-02-18 15:34] #87 closed

[2021-02-18 15:35] basdijkstra commented on #88
Did you find some time to retest this yet, @gileli121? I'd like to close the issue if it has been addressed properly.

[2021-02-18 15:36] basdijkstra commented on #47
Closing this issue since there's been no activity for three weeks. Feel free to reopen it if you think it has not been properly addressed, @Rantzur1992.

[2021-02-18 15:36] #47 closed

[2021-02-18 15:36] basdijkstra commented on #89
Did you find some time to retest this yet, @gileli121? I'd like to close the issue if it has been addressed properly.

[2021-02-18 15:37] basdijkstra commented on #90
Did you find some time to retest this yet, @gileli121? I'd like to close the issue if it has been addressed properly.

[2021-02-18 15:37] basdijkstra commented on #91
Did you find some time to retest this yet with the latest prerelease, @dorbenzvi? I'd like to close the issue if it has been addressed properly.

[2021-02-18 15:38] basdijkstra commented on #103
Closing this issue since @s-glatshtein addressed / fixed it himself.

[2021-02-18 15:38] #103 closed

[2021-02-22 07:57] basdijkstra commented on #105
#108 has been merged, so this issue can be retested using the latest prerelease.

[2021-02-22 07:58] basdijkstra commented on #109
#110 has been merged, so this issue can be retested with the latest prerelease.

[2021-02-22 11:51] s-glatshtein opened #111 "Improve job name inferring logic in SpecFlow plugin to reflect feature name"
I created a simple SpecFlow feature, and noticed the job name in the report is different than the feature name.
I used the following feature, with SpecFlow.NUnit dependency:

[code]

I implemented the `Given` step with the command `ChromeDriver driver = new ChromeDriver()`.
Checking the report, I saw the job name in the report was `MyFirstFeatureFeature`. I also saw that the generated test class h

[2021-02-22 16:04] basdijkstra commented on #111
That's a great suggestion, and one that shouldn't be too hard to implement. Thanks.

[2021-02-23 07:58] basdijkstra commented on #85
I have just submitted #113, which addresses this issue. The problem was that the OpenSDK is looking for a specific namespace when creating the driver to see if you're using SpecFlow, but when you're creating the driver in a test class constructor, some of the elements in the stack trace have a namespace value of `null`, causing the `NullReferenceException`. That has been fixed now.

I've tested th

[2021-02-23 08:38] basdijkstra commented on #100
@Rantzur1992 I need a sample website here so I can reproduce this issue. Without that it is impossible for me to pinpoint what is causing the issue.

Using both implicit and explicit waits in the same test probably isn't helping here, either.. But that's a different discussion.

[2021-02-23 08:57] basdijkstra commented on #92
@SabotageAndi for some reason the specs in that project don't run on my machine, could you give me a list of some of the driver commands that aren't working? It's probably easier and quicker if I build a test of my own to reproduce this...

[2021-02-23 14:06] basdijkstra commented on #111
I've just submitted #114, which adds this enhancement, at least for NUnit. It works with and without SpecFlow as in both cases, the same NUnit `[Description]` attribute is used.

This feature file:

![image](https://user-images.githubusercontent.com/10740451/108854866-a2da2580-75e8-11eb-9b4e-443f365cd73a.png)

leads to this report:

![image](https://user-images.githubusercontent.com/10740451/10885

[2021-02-23 14:30] ZBlocker655 commented on #85
Noted and thank you! I'll look for the new version.

[2021-02-23 15:52] SabotageAndi commented on #92
It's probably because it uses the SpecFlow+ Runner and you need to activate it on your machine.
I will provide the example with another unit test runner in the next days.

[2021-02-23 16:20] basdijkstra commented on #92
Thanks. Again, a simple list of the driver commands that fail would be a good start, too.

[2021-02-26 10:55] SabotageAndi commented on #92
It is only one `IWebElement.FindElement(By.ClassName("form-control"))` that makes problems for me in the example. I am on `0.65.1.313-rc`

[2021-02-26 10:57] basdijkstra commented on #92
Thank you. I'll see if I can reproduce that over here.

[2021-02-26 10:58] SabotageAndi commented on #105
Looks better now!

[2021-02-26 10:58] #105 closed

[2021-02-28 09:12] Rantzur1992 commented on #100
@basdijkstra This happened on a user's Website, I can try to get the URL from them.

[2021-02-28 09:17] Rantzur1992 opened #115 "MissingBrowserException while using GenericDriver (Specflow)"
Code:
[code]

Features:
[code]

csproj:
[code]

Agent 0.66.0

![image](https://user-images.githubusercontent.com/6703682/109413533-a12cab00-79b6-11eb-862b-f03c116cd7d0.png)

[2021-02-28 09:26] Rantzur1992 commented on #115
BTW This happened when the agent was turned off.

[2021-02-28 09:29] Rantzur1992 opened #116 "Generic driver shouldn't try to take screenshot"
Code:

[code]
Features:

[code]
csproj:
[code]
Agent 0.66.0

image
![image](https://user-images.githubusercontent.com/6703682/109413816-0d5bde80-79b8-11eb-9258-b93a92889842.png)

It is thrown in the driver.Report().Step line.

[2021-02-28 11:36] basdijkstra commented on #116
That's because we can't take a screenshot using the generic driver (there's no UI). I guess this option / parameter needs to be removed completely

[2021-02-28 11:37] basdijkstra commented on #100
Thanks, that would be great.

[2021-02-28 11:39] basdijkstra commented on #115
What do you mean by ‘turned off’? The agent wasn't running?

I’ll see if I can improve the error handling here.

[2021-02-28 12:07] Rantzur1992 commented on #116
Oh my, indeed it should be removed.

[2021-02-28 12:08] Rantzur1992 commented on #115
Yes, it wasn't running.

[2021-02-28 13:30] dorbenzvi opened #117 "[NUnit] elementDictionary (Parameter 'The specified dictionary does not contain an element reference')'"
While trying to locate an element I got this error:
elementDictionary (Parameter 'The specified dictionary does not contain an element reference')'

Got this when trying to find the element.

![image](https://user-images.githubusercontent.com/55704483/109420213-e2828200-79d9-11eb-98f6-6317a5befae1.png)

My Code:

[code]

[2021-02-28 15:26] dorbenzvi commented on #91
Hi @basdijkstra
Yes, it's working now.

[2021-02-28 15:43] ArtemKuznetsovv opened #118 "[Xunit] Test name is not inferred from the test method's name in TestProject reports"
The test name in the TestProject reports is not the same as the function name which is wrapped with the [Fact] annotation in Xunit.

The function name in code:
![image](https://user-images.githubusercontent.com/59560231/109424347-f33bf380-79eb-11eb-85a2-dd52bc01c47d.png)

The function name in the reports:
![image](https://user-images.githubusercontent.com/59560231/109424395-1c5c8400-79ec-11eb-85f8

[2021-02-28 15:56] dorbenzvi commented on #117
@basdijkstra
I found it happens when it cannot find the element by this XPath, this should be the error?

[2021-03-01 07:05] basdijkstra commented on #111
#114 has been merged, so this one can be retested with the latest prerelease, @s-glatshtein.

[2021-03-01 07:08] basdijkstra commented on #91
Excellent. Closing this issue.

[2021-03-01 07:08] #91 closed

[2021-03-01 07:09] basdijkstra commented on #118
Hey @ArtemKuznetsovv, isn't this a duplicate of #91? Could you please try again with the latest prerelease and check if that solves the problem? Thanks.

[2021-03-01 07:40] basdijkstra commented on #116
Well, we can't remove it completely because the code is shared (the `Reporter` class handles manual reporting for all drivers) but what I can do is check if the driver is of type `GenericDriver` before trying to take a screenshot and skip taking it if that's the case (with some logging added to the trace). Would that be acceptable, @Rantzur1992?

[2021-03-01 07:50] Rantzur1992 commented on #116
@basdijkstra  Yep, perhaps adding a message to the step that states that generic drivers don't take screenshots

[2021-03-01 08:52] basdijkstra commented on #116
I've just submitted #119 which improves the handling of this situation by adding a line to the log when trying to create a screenshot using the generic driver instead of throwing an exception, and letting the test continue normally.

@Rantzur1992, please retest this when the PR is merged.

[2021-03-01 09:26] basdijkstra commented on #115
Strange. The `MissingBrowserException` is only thrown when the Agent returns an HTTP status code 404. But it can only return that status code when it is running..

@Rantzur1992 can you please double check? Maybe you deactivated the Agent in some other way?

I did find and fix another issue related to this one, though. When you try to create a new generic driver session when the Agent is not runnin

[2021-03-01 09:33] basdijkstra commented on #117
There's probably a better way to handle this situation.. Thanks for reporting this.

[2021-03-01 10:00] basdijkstra commented on #117
I've just submitted #121, which improves the exception handling when an element is not found by throwing a custom `ElementNotFoundException` in those cases where `FindElement` fails.

@dorbenzvi please retest this with the latest OpenSDK prerelease version once this PR has been merged.

[2021-03-01 10:24] basdijkstra commented on #92
I've just submitted #121 which improves the error handling when an element could not be found. Could it be that the element you were looking for genuinely can't be found, but that the message was simply confusing, @RoganMatrivski @SabotageAndi?

I'll dive deeper into the `By.ClassName` example @SabotageAndi mentioned, in the meantime.

[2021-03-01 10:38] SabotageAndi commented on #92
@basdijkstra It works with the Selenium Webdriver without problem. I simply switched the implementation and it started to break.
Could be there other behavior changes like waiting that breaks it?

[2021-03-01 12:04] ArtemKuznetsovv commented on #118
Hi @basdijkstra,

It is similar to #91, but now the Job and Project name are inferred correctly but the test name is not.
I also tried with the pre release version and it still didn't work.

Test name is always "Test".

[2021-03-01 15:37] ArtemKuznetsovv opened #123 "Failing driver command is not reported when using implicit wait"
When an implicit wait is defined in Android Open SDK,
and when trying to execute a step which tries to find an element which isn't present,
the step times out in Visual Studio, and the test fails.

But in TestProject reports the test shows as passed, and that step that has timed out isn't showing in the reports.

Code:

[code]

Error message in Visual Studio:
![image](https://user-images.githubuse

[2021-03-01 16:52] basdijkstra commented on #118
Hey @ArtemKuznetsovv, that's probably because you didn't report a test yourself (using `driver.Report().Test()`). The generic driver doesn't automatically report tests.

[2021-03-01 19:11] vitalybu commented on #118
@basdijkstra, I think it's the second time someone raises this issue.
What is the reason for the generic driver not inferring test names?

[2021-03-01 21:20] basdijkstra commented on #118
I see now that this has nothing to do with the generic driver.. My bad.

There was an issue with xUnit test name inferring but that was resolved in #94. I’m curious to see if this issue is still occurring in the latest prerelease that includes that PR.

[2021-03-02 07:52] SabotageAndi commented on #92
@basdijkstra I adjusted my repo to use xUnit. It is at https://github.com/SpecFlowOSS/Streaming-Projects/tree/repro92.
This should work for you out of the box.

Exception detail:

[code]

[2021-03-02 14:07] basdijkstra commented on #92
Got it, and I can reproduce it over here. The problem is not the`By.ClassName` locator (that works fine for the other elements), but the fact that, since our OpenSDK driver directly extends RemoteWebDriver, it throws an `ArgumentException` rather than a `NoSuchElementException` when `FindElement()` does not return a result.

If you change https://github.com/SpecFlowOSS/Streaming-Projects/blob/a349

[2021-03-02 15:19] basdijkstra commented on #92
Hmmm... This might be a little more work than I expected. I can change the custom `FindElement()` implementation for our `BaseDriver` easily enough so that it also returns a `NoSuchElementException`, but the example from @SabotageAndi uses the `FindElement()` from the `IWebElement` class, so I would need to override that too in some way.

It might be easier to just have the OpenSDK drivers directl

[2021-03-02 15:38] basdijkstra commented on #92
I've just submitted #124, which fixes the issue for the `FindElement()` method in the driver classes. Still thinking about how to solve this for the `FindElement()` method in the `IWebElement` classes..

[2021-03-02 17:57] AlonGabbay opened #125 "ResetApp throws System.NullReferenceException"
When i try to run a test and use the resetApp, System.NullReferenceException is thrown after the application is correctly reset

[code]

[2021-03-03 08:51] basdijkstra commented on #123
I've just submitted #126, which addresses this issue by catching the WebDriverTimeout and reporting the failed driver command properly. Here's a sample report:

![image](https://user-images.githubusercontent.com/10740451/109779112-e7c41480-7c05-11eb-8394-10ea7b765231.png)

There still seems to be an issue with the timeout command being reported in a separate test (the `InvokeMethod` test you see i

[2021-03-03 08:56] basdijkstra opened #127 "Implicit timeout command is not reported in the proper test"
Adding an implicit timeout like this:

[code]

leads to a separate test being reported with only the timeout command in it:

![image](https://user-images.githubusercontent.com/10740451/109779826-a54f0780-7c06-11eb-98e7-33e7e792d05c.png)

It could very well be that this is true for other WebDriver commands that are executed inside a setup method, too.

[2021-03-03 08:56] basdijkstra commented on #125
Thank you for reporting this, @AlonGabbay. I'll have a look as soon as possible.

[2021-03-03 11:21] ArtemKuznetsovv commented on #123
@basdijkstra  Great, will test it once it is out.

[2021-03-03 11:29] ArtemKuznetsovv commented on #118
@basdijkstra Oh, with the latest PR it actually did work,
I guess the ticket can be closed.

[2021-03-03 11:29] #118 closed

[2021-03-03 12:54] basdijkstra commented on #88
Closing this due to inactivity. If this is still an issue, please reopen and let me know, @gileli121.

[2021-03-03 12:54] #88 closed

[2021-03-03 12:54] basdijkstra commented on #89
Closing this due to inactivity. If this is still an issue, please reopen and let me know, @gileli121.

[2021-03-03 12:54] #89 closed

[2021-03-03 12:55] basdijkstra commented on #90
Closing this due to inactivity. If this is still an issue, please reopen and let me know, @gileli121.

[2021-03-03 12:55] #90 closed

[2021-03-03 12:55] basdijkstra commented on #109
Closing this due to inactivity. If this is still an issue, please reopen and let me know, @s-glatshtein.

[2021-03-03 12:55] #109 closed

[2021-03-05 13:59] basdijkstra commented on #127
I've just submitted #128, which addresses this issue. WebDriver commands that are executed as part of a setup method (doesn't matter which unit testing framework it is) are now correctly reported as part of the actual test, instead of in a separate `InvokeMethod` test.

[2021-03-07 09:05] Rantzur1992 opened #129 "The IWebDriver object must implement or wrap a driver that implements IHasTouchScreen"
Using this code for IOS Testing on YouTube:

[code]

The SDK driver seems to not work with TouchActions

[code]
![image](https://user-images.githubusercontent.com/6703682/110234752-f3c91280-7f34-11eb-8033-458a35b26e7b.png)

[2021-03-07 09:21] Rantzur1992 opened #130 "SDK shows agent status code with a wrong message when a recording session is running"
While running a coded test using the latest pre-release build while having a recording session running returns this message:
![image](https://user-images.githubusercontent.com/6703682/110235135-2ecc4580-7f37-11eb-97a1-ee5fe0e201a6.png)

A better message should be displayed.

[2021-03-07 09:24] Rantzur1992 commented on #117
@basdijkstra  Using the latest pre-release on IOS still throws that message when an element is not found.

[2021-03-07 11:36] Rantzur1992 opened #131 "Additional NulllPointer is thrown when device not found"
When running a Mobile test, if the device is not found, a missing browser exception is thrown (which is weird since it is a mobile device) but a null pointer is thrown as well.
![image](https://user-images.githubusercontent.com/6703682/110238400-19ace200-7f4a-11eb-954d-2b5780bd2316.png)

[2021-03-07 11:54] vitalybu commented on #130
@Rantzur1992, that's an Agent issue as it returns a 500 status code.
Please close this issue and open an internal ticket for the Agent team.

[2021-03-07 12:42] basdijkstra commented on #117
Are you using the FindElement() method from a driver or from an IWebElement? If the latter, please see #92. I do not know yet how to solve this.

[2021-03-07 12:44] dorbenzvi commented on #117
@basdijkstra Tested it on 0.65.1.341 and I still got the same exception.

` Message:
    System.ArgumentException : elementDictionary (Parameter 'The specified dictionary does not contain an element reference')
  Stack Trace:
    RemoteWebElementFactory.GetElementId(Dictionary`2 elementDictionary)
    CachedElementFactory`1.CreateElement(Dictionary`2 elementDictionary)
    RemoteWebDriver.GetEleme

[2021-03-07 12:49] basdijkstra commented on #131
The MissingBrowserException is thrown because the Agent returns a 404. It does this both when you request a driver that is not installed or when you request a device that does not exist. The best I can do is rename the exception type to MissingBrowserOrDeviceException. Is that OK for you, @Rantzur1992 ?

I’ll see if I can fix the NullPointerException. That’s thrown in the teardown method of the te

[2021-03-07 12:50] basdijkstra commented on #130
Closed, see @vitalybu‘s comment.

[2021-03-07 12:50] #130 closed

[2021-03-07 12:52] basdijkstra commented on #129
That’s strange. Does it work with the native Appium IOSDriver? Because I'm directly extending that one.

[2021-03-07 12:54] Rantzur1992 commented on #129
Yes it does, from Googling around it seems the driver needs to implement an interface:
https://stackoverflow.com/questions/30909818/the-iwebdriver-object-must-implement-or-wrap-a-driver-that-implements-ihastouchs

[2021-03-07 12:55] Rantzur1992 commented on #131
Yep seems fine

[2021-03-07 12:57] basdijkstra commented on #117
I see in the stack trace that it calls By.FindElement(), and that’s where the problem is. Same issue as in #92.

My suggestion would be to close this one and continue the discussion there.

[2021-03-07 14:36] dorbenzvi opened #132 "[Web] Wrong step text for displayed in the report."
When running a step with Displayed on the element, the on the report its coverts to Execute Script.

Code:

[code]

Report:

![image](https://user-images.githubusercontent.com/55704483/110243409-e591eb00-7f62-11eb-8753-cf30e468cfe3.png)

[2021-03-07 15:26] basdijkstra commented on #132
That's not a bug, it's a feature.

The W3C command executed when you use the .Displayed property is `executeScript` (a bit of JavaScript is executed to determine whether an element is visible), so that's what you'll see in the report.

I can't / don't want to change that, as that would mean parsing the JavaScript being executed to see which command is behind it, and that's a can of worms I really,

[2021-03-08 07:40] basdijkstra commented on #131
I just submitted #133, which includes the exception renaming. Unfortunately I cannot make the `NullReferenceException` go away as it originates in the test code, not in the SDK code. Because an exception is thrown when starting the driver, there is no instance of the requested driver class and `this.driver` in your test code will be `null`, hence the exception.

If you really want to get rid of it

[2021-03-08 09:11] basdijkstra commented on #131
#133 was just merged. @Rantzur1992, if you agree with the explanation from the previous comment, please close this issue. If not, please let me know what you think should be improved.

[2021-03-08 09:20] Rantzur1992 commented on #131
It's good, thanks.

[2021-03-08 09:20] #131 closed

[2021-03-11 08:18] basdijkstra commented on #115
Any news on this issue, @Rantzur1992 ?

[2021-03-11 08:19] basdijkstra commented on #100
Any response yet, @Rantzur1992 ?

[2021-03-11 08:19] basdijkstra commented on #71
@SabotageAndi is this still relevant? If so I'll diver deeper into this.

[2021-03-11 14:26] basdijkstra commented on #125
It seems like for some reason not all Appium-specific command are properly added to the command info repository. As a result, getting the `CommandInfo` for the `ResetApp` command fails because of a `NullReferenceException`. Investigating.

[2021-03-12 10:52] basdijkstra commented on #125
I've just submitted #134, which addresses this issue. The problem was that while I did add Appium-specific commands to the driver objects, somehow I overlooked doing the same in our custom HTTP command executor. That's been fixed, and as a result Appium-specific commands such as `ResetApp()` can now be executed successfully.

@AlonGabbay, when this PR is merged, please retest it with the latest pr

[2021-03-12 10:53] basdijkstra commented on #132
Closing this issue due for inactivity and because it's a 'won't fix'. @dorbenzvi, feel free to reopen it and add your comments as to why you think it should be reopened if you want to.

[2021-03-12 10:53] #132 closed

[2021-03-12 12:30] basdijkstra commented on #129
I've just submitted #135, which addresses this issue. I've only added the interface for the mobile drivers as of now, as I think they are most useful there (even though `IHasTouchScreen` is part of Selenium, not Appium).

The interface itself is deprecated, though, so we might have to change some things again when we bump to Selenium 4 (or maybe Appium 2), but we'll see that soon enough.

[2021-03-12 16:29] basdijkstra commented on #127
Closing this issue since #128 has been merged.

[2021-03-12 16:29] #127 closed

[2021-03-16 08:21] Chrys123 opened #136 "Open SDK reporting does not show failures"
Hi,
I have disabled the command reporting , so the reports show the steps only.

Now, the issue here is, that it never shows the failures like the old SDK did on the reports, even if it was failing outside the steps.

I guess that is an issue you know already, but it is really really important as I work in a big public sector organisation in the UK and these reports need to be seen by business sta

[2021-03-16 08:56] basdijkstra commented on #136
Hey @Chrys123, are you referring to the reporting of failed assertions? That's something that's not yet supported, indeed. If that's what you mean, this is registered in #59 already. We'll hopefully get to implementing that soon.

If you're referring to something different, could you please show me an example?

[2021-03-17 07:36] basdijkstra commented on #129
#135 is merged. Could you please retest, @Rantzur1992 ?

[2021-03-17 07:37] basdijkstra commented on #125
#134 is merged, so you can retest this with the latest prerelease, @AlonGabbay.

[2021-03-17 08:07] AlonGabbay commented on #125
Hi Bass,
I resigned from testproject.

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Wed, 17 Mar 2021 at 09:37, Bas Dijkstra ***@***.***> wrote:

[2021-03-17 08:12] basdijkstra commented on #125
Thank you for letting me know, and all the best! I've tested this myself as well and it seems to work, so I'm closing this issue.

[2021-03-17 08:12] #125 closed

[2021-03-17 16:14] amitlubintp opened #139 "C# OpenSDK: TestProject.OpenSDK.Internal.Exceptions.AgentConnectException : Failed to get Agent status:"
Cannot initialize the driver for mobile using C# openSDK

Bug points towards driver initialization line:
[code]

[code]

[2021-03-17 16:18] basdijkstra commented on #139
Hey @amitlubintp, that's because the `remoteAddress` parameter is meant for the TestProject Agent address, not the Selenium / Appium remote address. By default that's `http://localhost:8585`, but if you're running the Agent on a different port or even a different machine, you can specify it either using the `remoteAddress` parameter or the `TP_AGENT_URL` environment variable.

[2021-03-17 16:36] Chrys123 commented on #136
Im referring to assertions AND general lack of failure reporting, anything
that is failing outside the steps is not reported

On Wed, Mar 17, 2021 at 4:31 PM Bas Dijkstra ***@***.***>
wrote:

[2021-03-17 16:39] basdijkstra commented on #136
@Chrys123, can you give me an example of 'anything that is failing outside the steps'?

[2021-03-17 17:08] Chrys123 commented on #136
I think its pretty self explanatory.

Anything that I don't declare within  a report.step is not registered as
failure in the Open SDK reports.

I have discussed this already with the Test Project developers and they say
this is going to be a future feature but actually that is a major problem
for me.

On Wed, 17 Mar 2021, 16:39 Bas Dijkstra, ***@***.***> wrote:

[2021-03-18 07:07] Chrys123 commented on #136
Well there is no code needed I believe. I am reporting my steps inside the
reporter.step method. I disable command reports too so only the steps are
reported.

Anything that fails outside the steps is not registered as failed.

In the old SDK, it was failing even outside but only produced a message,
not a screenshot.

On Wed, 17 Mar 2021, 18:46 Bas Dijkstra, ***@***.***> wrote:

[2021-03-18 07:48] basdijkstra commented on #136
And this is exactly why I think an example would be beneficial, because now I see two different kinds of potential issues you might be referring to.

1) When driver command reporting is turned off, only manually reported steps and tests will show up in the report. That means that if a WebDriver command (find element, click, send keys, get element text, etc.) fails, it will not show up in the repor

[2021-03-18 08:29] Chrys123 commented on #136
I  cant send you my code this is company data, its not a personal project.

There is stack trace in the command line l, where it says that the test is
failing,  but the failure is not shown in the reports. It just shows the
test as passed, while it should be failed, like the old sdk.

I am disabling driver commands. Thats all I do regarding my reporter, to
have the steps reported. I dont care abou

[2021-03-18 08:43] basdijkstra commented on #136
I appreciate you can't send the code, but I need at least a stack trace to see where the exception originates from.. If you're uncomfortable pasting this on a public GitHub repository feel free to email it to bas@ontestautomation.com.

[2021-03-18 09:31] Chrys123 commented on #136
I will paste the stack trace but it's an normal no such element found
exception which results in failure. This for example is not registered in
the reports.  I will paste the stack trace shortly.

On Thu, 18 Mar 2021, 08:43 Bas Dijkstra, ***@***.***> wrote:

[2021-03-18 10:04] dorbenzvi opened #140 "OpenSDK Wrong job name."
Hi, when using a Base class the job name is the wrong Job name.

My Code without Job name:

Base:
[code]

Test:

[code]

Report:

![image](https://user-images.githubusercontent.com/55704483/111608630-1b946200-87e2-11eb-929b-013b30e5d47a.png)

[2021-03-18 10:12] basdijkstra commented on #136
Thank you. A 'no such element' exception is actually something that could be solved by the first (and easier) option, because it is a direct result of a WebDriver command. I'm happy to implement that right away.

[2021-03-18 10:47] basdijkstra commented on #136
So, I've made a small change that now always reports failing WebDriver commands, even if command reports are disabled. Still thinking about whether or not to make this configurable, but given the following test:

[code]

produces the following report:

![image](https://user-images.githubusercontent.com/10740451/111614153-8db77780-87df-11eb-9cd4-945b0c0e806d.png)

As you can see, passed driver comm

[2021-03-18 10:56] dorbenzvi opened #141 "Adding ImplicitWait to driver reported as a separated test."
This is happening because of the ImplicitWait time sets to the driver.
Base:

[code]

Test:

[code]

![image](https://user-images.githubusercontent.com/55704483/111615382-56e65f00-87e9-11eb-81dc-a8db3e1417da.png)

[2021-03-18 11:18] Chrys123 commented on #136
System.ArgumentException : elementDictionary
Parameter name: The specified dictionary does not contain an element
reference
  Stack Trace:
     at
OpenQA.Selenium.Remote.RemoteWebElementFactory.GetElementId(Dictionary`2
elementDictionary)
   at
OpenQA.Selenium.Remote.RemoteWebElementFactory.CreateElement(Dictionary`2
elementDictionary)
   at
OpenQA.Selenium.Remote.RemoteWebDriver.GetElementFromRes

[2021-03-18 11:25] basdijkstra commented on #136
Yes, that's a failing WebDriver command indeed. #121 improves the exception handling, by the way, but that's only available in the latest prerelease, not yet in an official release (it should be soon).

But would a solution like in my last comment be helpful here? As in: failing WebDriver commands are reported at all times, even when automatic driver command reporting is set to `false`?

[2021-03-18 11:27] basdijkstra commented on #140
Thank you for reporting that. I'll see if that can be improved.

[2021-03-18 11:28] basdijkstra commented on #141
I suspect that this will be resolved when #140 is addressed, but happy to keep it open as a separate issue for now.

[2021-03-18 12:27] Chrys123 commented on #136
Well how that would look like in the report though?

On Thu, 18 Mar 2021, 11:25 Bas Dijkstra, ***@***.***> wrote:

[2021-03-18 12:36] basdijkstra commented on #136
There's a screenshot a few comments above this one: https://github.com/testproject-io/csharp-opensdk/issues/136#issuecomment-801821248

[2021-03-18 13:21] Chrys123 commented on #136
Oh so the driver command will be reported then?

Is there any way to replace the failed name with something else and not
show the driver command at the cover of the failed test?

On Thu, 18 Mar 2021, 12:36 Bas Dijkstra, ***@***.***> wrote:

[2021-03-18 13:31] basdijkstra commented on #136
Yes, with the fix I implemented it will show failed driver commands even if `DisableCommandReports` is set to `true`.

I can replace the step name with something else, but I recommend keeping the driver command in there to quickly assess what went wrong. For example, when the driver command is `findElement`, I could make the error message look like this:

`Failed to execute command 'findElement'`

[2021-03-18 13:40] basdijkstra commented on #136
And FYI: we are probably going to make this a configurable feature in the next release. That means that you'll have three options:

1) Report no driver commands
2) Report only failing driver commands <-- this is what we're talking about right here in this issue
3) Report all driver commands

[2021-03-18 14:02] Chrys123 commented on #136
Yes thats fine, thank you

On Thu, 18 Mar 2021, 13:32 Bas Dijkstra, ***@***.***> wrote:

[2021-03-18 14:04] basdijkstra commented on #136
That would make it look like this:

![image](https://user-images.githubusercontent.com/10740451/111638994-227b9e80-87fb-11eb-95b5-68fdf09596e5.png)

I'll check with someone else how to make this configurable, and I hope to add this feature in the next couple of days.

[2021-03-18 14:23] Chrys123 commented on #136
Yes thats great!

On Thu, Mar 18, 2021 at 2:04 PM Bas Dijkstra ***@***.***>
wrote:

[2021-03-18 15:44] amitlubintp opened #142 "Driver initialization in C# OpenSDK sends a report to agent (called "InvokeMethod")"
In C# OpenSDK (Using Xunit) , a report is sent to agent. The report is called "InvokeMethod".

[2021-03-18 15:49] basdijkstra commented on #142
Do you have an example that I can use to reproduce this issue, @amitlubintp? Without it there is no way to find out why this is happening.

[2021-03-18 16:29] basdijkstra commented on #136
I have just submitted #143, which adds the possibility to select reporting only the failed driver commands to the `DisableCommandReports` method. Please refer to the documentation for examples on how to use it.

Once this PR is merged, you can test it with the latest prerelease, or wait for the release of 0.65.2, which should be out soon.

[2021-03-19 08:41] SantoshYakkala commented on #100
Dear @basdijkstra,

The issue reported website is not release product yet into the market. Afraid to share the details as it breaches the confidentiality. Issue can be repro on the metered internet or kind of very slow loading of webpage.

[2021-03-19 09:36] basdijkstra commented on #140
I'm able to reproduce this issue on my machine, I'll see if I can find a solution for it. The challenge will be to find a reference to the actual test method in the stack trace at the moment you're initializing the driver in a different method in the base class, so far I haven't found one yet. If I can't find one, I don't think it's possible to infer the proper job name automatically... But we'll

[2021-03-19 09:36] basdijkstra commented on #100
I'll see if I can find an example.

[2021-03-19 10:53] kishangupta-15 opened #144 "Unable to run same multi browser tests with OpenSDK features"
I saw example code from #98. However, if I use it as per example for Multiple browser testing, I won't be able to use OpenSDK driver features, because the driver object IWebDriver which doesn't has the definitions for report and other features of OpenSDK.

I have added below line to your code from #98:
**this.driver.Report().Step("End Tests, "Test Ends Here");**

But as expected, this gives error:

[2021-03-19 12:23] basdijkstra commented on #140
OK, after some more debugging I can't find a way to fix this. At the moment when the driver is created, we're not inside a test method (`Fact` or `Theory`), nor in a class that contains these methods. There's a reference to the `OpenSdk` class in the stack trace, but since xUnit does not require class-level annotations, there is no way to be sure that this is the class that contains the test metho

[2021-03-19 12:27] basdijkstra commented on #141
See also the explanation for #140. There's no way to determine that the code executed in the base class actually belongs to a test method in the `OpenSdk` class, because we're in a different class without any reference to xUnit and the `OpenSdk` class does not have any class-level annotations that we could use..

If xUnit would support test-level setup and teardown methods, it would be an entirely

[2021-03-19 12:31] basdijkstra commented on #144
Thank you for letting me know. I'll see what I can do here, this might not be too difficult to add.

[2021-03-19 14:25] basdijkstra commented on #144
I just submitted #145, which implements this enhancement. To use it once this PR is merged, use the `IWebDriver` interface from the `TestProject.OpenSDK.Drivers` namespace and you should be good to go. Here's a test result from your test on my machine after implementing the enhancement:

![image](https://user-images.githubusercontent.com/10740451/111795214-44daee00-88c7-11eb-8f0c-931a1e560002.png)

[2021-03-19 16:49] kishangupta-15 commented on #141
@basdijkstra For #140, as you suggested, one possible workaround is to specify job name at the time of driver creation. Is there a work around for this too? Otherwise, the TestProject's reporting feature becomes useless as random tests gets reported. So, if someone ran 20 tests, 40 will be reported and possibly more if additional driver configurations are added.

[2021-03-19 18:15] basdijkstra commented on #141
@kishangupta-15 not really. I see not having setup and teardown hooks as a drawback of xUnit, but its creators obviously think otherwise...

If you're not really fixed on xUnit I'd recommend switching to NUnit and moving all the driver creation and configuration to a setup method.

If you do need to use xUnit you could do the driver configuration inside the test method themselves. That does result

[2021-03-20 06:16] kishangupta-15 commented on #141
@basdijkstra Well, that's a bummer because we are in fact fixed on xUnit as this is the standard test framework for all the development related activities in C#.

This really going to put a drag for all folks using xUnit. I was really hoping for a resolution for this

[2021-03-20 06:34] kishangupta-15 commented on #144
@basdijkstra I see that it works for Web Drivers. What about Generic Driver, should it also not implement the same interface as the other drivers so that all the driver related initialization can happen in the same class such as DriverFactory?

[2021-03-20 07:06] basdijkstra commented on #141
I know, but as far as I can see I'm really bound by the limitations of the unit testing framework here.

Maybe @s-glatshtein has an idea for a resolution here?

[2021-03-20 07:20] basdijkstra commented on #144
That's not something I'd like to do, because that would mean that the generic driver would also have to extend the Selenium IWebDriver interface and just throw NotImplemented errors for all the Selenium methods (FindElement etc.).

This would give the suggestion that the generic driver is a driver that can be used for web / mobile applications, which it is not, and would only lead to confusion for

[2021-03-20 07:22] basdijkstra commented on #85
0.66.0 is released, please retest and close this issue when you feel it's resolved: https://www.nuget.org/packages/TestProject.OpenSDK/0.66.0

[2021-03-20 07:23] basdijkstra commented on #111
0.66.0 is released, please retest and close this issue when you feel it's resolved: https://www.nuget.org/packages/TestProject.OpenSDK/0.66.0

[2021-03-20 07:23] basdijkstra commented on #116
0.66.0 is released, please retest and close this issue when you feel it's resolved: https://www.nuget.org/packages/TestProject.OpenSDK/0.66.0

[2021-03-20 07:23] basdijkstra commented on #117
0.66.0 is released, please retest and close this issue when you feel it's resolved: https://www.nuget.org/packages/TestProject.OpenSDK/0.66.0

[2021-03-20 07:23] basdijkstra commented on #123
0.66.0 is released, please retest and close this issue when you feel it's resolved: https://www.nuget.org/packages/TestProject.OpenSDK/0.66.0

[2021-03-20 07:24] basdijkstra commented on #129
0.66.0 is released, please retest and close this issue when you feel it's resolved: https://www.nuget.org/packages/TestProject.OpenSDK/0.66.0

[2021-03-20 07:24] basdijkstra commented on #136
0.66.0 is released, please retest and close this issue when you feel it's resolved: https://www.nuget.org/packages/TestProject.OpenSDK/0.66.0

[2021-03-21 06:45] Rantzur1992 commented on #116
Looks good

[2021-03-21 06:45] #116 closed

[2021-03-21 07:25] Rantzur1992 commented on #142
@basdijkstra  I saw in one of your other issues that you had the method in the report.
Why not juist implement the same thing we did in Python back then?
Add an option to supply a list of names to the drivers to ignore in the reports.

[2021-03-21 07:46] Rantzur1992 commented on #117
@basdijkstra NUnit test on mobile, it still happens when the element is not found.

![image](https://user-images.githubusercontent.com/6703682/111897704-25a8a180-8a2a-11eb-9e03-f6efbd2433d2.png)

[2021-03-21 07:55] Rantzur1992 commented on #117
Code:

[code]

The commented line is the issue, the element is found in the recorder but for some reason in the SDK it always throws that exception.

[2021-03-21 08:26] Rantzur1992 commented on #129
It seems good

[2021-03-21 08:26] #129 closed

[2021-03-21 10:17] s-glatshtein commented on #141
At first glance i don't see a way to detect the test method when the constructor is called.
My best idea would be disabling reports in that constructor, so that step isn't reported. It doesn't feel like an integrated part of the test.

[2021-03-21 12:55] Rantzur1992 commented on #115
Nothing here, I didn't get it again since then for some reason.

[2021-03-21 15:17] basdijkstra commented on #115
Strange. Closing this one for now, feel free to reopen it if it occurs again in a reproducible manner.

[2021-03-21 15:17] #115 closed

[2021-03-21 21:14] ZBlocker655 commented on #85
Confirmed works on my project.

[2021-03-21 21:14] #85 closed

[2021-03-22 06:22] basdijkstra commented on #144
@kishangupta-15 this fix is included in 0.66.0, so please retest with that version and close this issue when you're happy with the fix and my comment above this one. Thanks.

[2021-03-22 06:23] basdijkstra commented on #139
Closing this because of invalidity. Feel free to reopen it if you have something to add, @amitlubintp.

[2021-03-22 06:23] #139 closed

[2021-03-22 07:28] kishangupta-15 commented on #144
@basdijkstra I have retested it with v 0.66.0 and it works fine. Thanks for the quick fix. Closing the issue.

[2021-03-22 07:28] #144 closed

[2021-03-22 07:30] basdijkstra commented on #142
If that's an acceptable solution to this issue we can change this to a feature request / enhancement. But I'd like to see an example that reproduces this issue first from @amitlubintp because that's the only way to determine what the problem is here.

[2021-03-22 07:33] basdijkstra commented on #117
Again, this is the same issue as #92. Can we close this one and continue the discussion there?

[2021-03-22 07:34] basdijkstra commented on #141
@kishangupta-15 do you agree? I really don't see a way to resolve this at the moment.

[2021-03-22 07:37] basdijkstra opened #147 "App does not start without explicit call to StartActivity()"
When we create a driver for a test like this:

[code]
a session is started but the app we want to test does not automatically load. To do that we need an explicit call to `this.driver.StartActivity()`. In Appium, this is not necessary: when I replace the TestProject driver for a vanilla Appium `AndroidDriver`, the above code works like a charm.

[2021-03-22 07:42] basdijkstra commented on #142
Let me investigate the example first to see what the real problem is and if there isn't a better solution. If there isn't we can always discuss solutions like this.

[2021-03-22 07:45] Rantzur1992 commented on #117
Yes, I don't have the ability to close this.

[2021-03-22 07:47] basdijkstra commented on #117
I do, though :) Thanks.

[2021-03-22 07:47] #117 closed

[2021-03-22 07:55] kishangupta-15 commented on #141
@basdijkstra seems like the only solution. But when I disable the reports in the constructor, is any there any way to re enable them later in the test?

[2021-03-22 07:59] basdijkstra commented on #141
Sure.

[code]

[2021-03-22 08:02] basdijkstra opened #148 "Documentation on DriverCommandsFilter is incorrect"
This should say `DriverCommandsFilter`, not `DriverCommands`.

[2021-03-22 08:28] kishangupta-15 opened #149 "GenericDriver reports multiple tests for one single test"
GenericDriver should report steps under a single test under the same test. However, it reports multiple tests for a single xUnit test.

Report snapshot:
![image](https://user-images.githubusercontent.com/54025467/111961061-8b725780-8b16-11eb-953e-872061875969.png)

Detailed report
[RuntimeTypeHandle-Job-Report-22-3-2021+07-27-01-full.pdf](https://github.com/testproject-io/csharp-opensdk/files/6180

[2021-03-22 08:32] kishangupta-15 commented on #142
@basdijkstra @Rantzur1992 this is same as #141. You can use the same example.

[2021-03-22 08:37] kishangupta-15 opened #150 "GenericDriver reports wrong inferred project name and job name for xUnit even when initialized in the same class"
Please refer the code and evidence mentioned in the issue #149. The project name is reported as System and the job name is reported as RuntimeTypeHandle. Expected project name is TestProjectSample and expected job name is GenericDriverTests.

[2021-03-22 09:22] basdijkstra commented on #149
Thank you for reporting. I'll have a look as soon as possible (but time is limited this week so it might take me a bit longer).

[2021-03-22 09:24] basdijkstra commented on #150
I'm not sure I can fix this. See #140 for more details. I'm happy to have another look, though.

[2021-03-22 09:27] kishangupta-15 commented on #141
@basdijkstra, @s-glatshtein  I tried it out. Unfortunately, it still reports the extra test with marking it as skipped.

![image](https://user-images.githubusercontent.com/54025467/111968039-c2e50200-8b1e-11eb-903f-fb9470ea3fa1.png)

Full report attached here:
[FtpKeysPageTests-Job-Report-22-3-2021+09-20-16-full.pdf](https://github.com/testproject-io/csharp-opensdk/files/6180929/FtpKeysPageTests-J

[2021-03-22 09:31] kishangupta-15 commented on #59
@basdijkstra do we have any rough timeline for this enhancement to be implemented?

[2021-03-22 09:38] Rantzur1992 commented on #142
Thanks @kishangupta-15

[2021-03-22 10:33] basdijkstra commented on #59
Not at the moment. This is a pretty complex feature, with different solutions for each supported unit testing framework. Basically, it requires us to write extensions for each unit testing framework and implement that into the SDK.

I hope to get to work on this in the next week or two. Happy to start with xUnit as that is your unit testing framework of choice, but eventually we'll support MSTest

[2021-03-22 12:02] kishangupta-15 commented on #59
@basdijkstra Thanks Bas, I really appreciate it.

[2021-03-22 12:14] basdijkstra commented on #148
I've just submitted #151, which fixes the errors in the README.md.

[2021-03-22 13:06] basdijkstra commented on #149
So I'm able to reproduce this on my own machine, so that's a start. It looks like the async / await calls screw up the call stack..

After
[code]
there's a call to an async function. When I debug to see what happens at
[code]
(the first step that is wrongly reported in a new test instead of being appended to the current one), it tries to determine the current test name again (this is always done t

[2021-03-22 19:37] basdijkstra commented on #150
Making progress here, I've managed to get this working in *some* cases, but not yet in *all* cases.

[2021-03-23 06:50] kishangupta-15 commented on #149
@basdijkstra thank you for the quick updates!

[2021-03-23 06:51] kishangupta-15 commented on #150
@basdijkstra Thank you for a quick update!

[2021-03-23 07:25] basdijkstra commented on #140
Hmm.. Now that I'm working on #150, there might be a solution to this after all. Now trying to make the logic as simple as possible while still covering all the cases.

[2021-03-23 17:53] basdijkstra commented on #140
It looks like I've found a way to make this work. When using a test similar to this one, the output now looks like this:

![image](https://user-images.githubusercontent.com/10740451/112194164-e4221d00-8c08-11eb-9f2b-aa384b527142.png)

The driver is created in the constructor of a base class.

Please retest this with the latest prerelease once #153 has been merged, @dorbenzvi.

[2021-03-23 17:54] basdijkstra commented on #141
PR #153 also solves this issue. The report now looks like this:

![image](https://user-images.githubusercontent.com/10740451/112194424-1f245080-8c09-11eb-9d4b-a99915b34564.png)

As you can see, the timeout call is reported as part of the test, instead of in a separate method. Please retest with the latest prerelease once this PR has been merged.

[2021-03-23 17:56] basdijkstra commented on #149
When PR #153 will be merged, the result should look like this:

![image](https://user-images.githubusercontent.com/10740451/112194665-67437300-8c09-11eb-84c5-8a479677590d.png)

Please retest with the latest prerelease once it is merged.

[2021-03-23 17:57] basdijkstra commented on #150
Looks like it works now. Solution is part of PR #153. Again, the result looks like this (`XUnit` is the final part of the namespace in my example, and `IssueTest` is the test class name):

![image](https://user-images.githubusercontent.com/10740451/112194884-a376d380-8c09-11eb-916f-5d0885c49f76.png)

Please retest with the latest prerelease after PR has been merged.

[2021-03-24 09:39] AnnaSwietek opened #154 "Starting a new appium session right after a pervious one ends causes error"
Starting a new appium session right after a pervious one ends causes this error:

`Agent responsed with status code 499: [Operation interrupted]`

After the error the agent crashes and needs a manual restart to get back up

[2021-03-24 18:00] basdijkstra commented on #154
@AnnaSwietek can this be reproduced on your end simply by running two Appium tests in a row? If not, could you add a sample test I could use to try and reproduce it?

@mstrelex what would make the Agent return an HTTP 499? Could it have something to do with timing?

[2021-03-25 05:47] basdijkstra commented on #142
If this is the same as #141, it has been resolved by #153. @amitlubintp can you retest with the latest prerelease this once that PR has been merged?

[2021-03-25 11:22] AnnaSwietek commented on #154
@basdijkstra Please find logs attached
[logs.zip](https://github.com/testproject-io/csharp-opensdk/files/6204241/logs.zip)

[2021-03-25 15:20] basdijkstra commented on #150
PR #153 has been merged and released in https://www.nuget.org/packages/TestProject.OpenSDK/0.66.0.372-rc. Please retest and close this issue when you're happy with the result.

[2021-03-25 15:20] basdijkstra commented on #149
PR #153 has been merged and released in https://www.nuget.org/packages/TestProject.OpenSDK/0.66.0.372-rc. Please retest and close this issue when you're happy with the result.

[2021-03-25 15:20] basdijkstra commented on #148
PR merged, so I'm closing this issue.

[2021-03-25 15:20] basdijkstra commented on #142
PR #153 has been merged and released in https://www.nuget.org/packages/TestProject.OpenSDK/0.66.0.372-rc. Please retest and close this issue when you're happy with the result.

[2021-03-25 15:21] basdijkstra commented on #141
PR #153 has been merged and released in https://www.nuget.org/packages/TestProject.OpenSDK/0.66.0.372-rc. Please retest and close this issue when you're happy with the result.

[2021-03-25 15:21] basdijkstra commented on #140
PR #153 has been merged and released in https://www.nuget.org/packages/TestProject.OpenSDK/0.66.0.372-rc. Please retest and close this issue when you're happy with the result.

[2021-03-25 16:13] kishangupta-15 commented on #141
I have checked and it is working fine now. Thanks a ton for resolving this, it makes our life a lot easier. I have checked this by adding driver.Manage().Window.Maximize() as well and it is also getting reported in the test itself.

![image](https://user-images.githubusercontent.com/54025467/112505325-af51c980-8db2-11eb-9a33-be72062acf7b.png)

@basdijkstra i am assuming that this is how it will wo

[2021-03-25 16:22] kishangupta-15 commented on #149
Closing the issue as it is working fine now.

![image](https://user-images.githubusercontent.com/54025467/112507156-6bf85a80-8db4-11eb-96d2-b51ff3bdcf81.png)

[2021-03-25 16:22] #149 closed

[2021-03-25 16:22] kishangupta-15 commented on #150
Retested the issue, its working fine now.

![image](https://user-images.githubusercontent.com/54025467/112507081-5be07b00-8db4-11eb-8262-c908e23473fd.png)

[2021-03-25 16:22] #150 closed

[2021-03-25 16:46] basdijkstra commented on #141
Yes, it works like this for all driver commands.

Let me close the issue for you, thanks for confirming. And you're welcome :)

[2021-03-25 16:46] #141 closed

[2021-03-26 12:36] kishangupta-15 opened #155 "IWebElements are reported just by locators but element/locator names are missing"
Since the testproject reports would be shared with management and other non technical people as well, having just the locator/selectors like xpath, css etc doesn't help.

Expectation would be to see element/locator name plus locator. This should be a configurable for the user where user is able to select whether to see
1) just the element name
2) just the locator
3) or both element name and locato

[2021-03-26 13:26] basdijkstra commented on #155
You know that the information is there, right? Just not in the step name, but it is in the details:

![image](https://user-images.githubusercontent.com/10740451/112637970-08673f00-8e3f-11eb-97d3-12126b76fb7c.png)

Anyway, this would require a change in the Agent first, before the SDKs can offer customization like this. @mstrelex what would be the best way for @kishangupta-15 to request a change li

[2021-03-26 15:30] kishangupta-15 commented on #155
@basdijkstra, @mstrelex - i meant element name that has been defined in the code, something like that has been mentioned here in
https://github.com/testproject-io/java-opensdk/issues/59

For the below, i would expect the report to show me _firstViewBy, _firstEditBy, _firstHistoryBy as element names and locators as the defined XPath

![image](https://user-images.githubusercontent.com/54025467/11265

[2021-03-26 15:47] basdijkstra commented on #155
I don't see how that could ever work. Those are nothing but variable names, and those ‘disappear’ when you compile your code. The code that is run does not have access to those names.

The only way that this might work is by actively sending these variable names to the Agent, but that would require significant changes both in your test code and in the Agent, plus breaking / circumventing the WebDr

[2021-03-26 16:04] kishangupta-15 commented on #155
Sure Bas, please do share an example, that would be great. I wonder how they are going to enhance this in Java OpenSDK, or maybe they won't.

[2021-03-26 16:48] basdijkstra commented on #155
Sure, I'll try and do that somewhere next week.

The explanation above holds for Java and other SDKs, too.

[2021-03-29 08:08] AnnaSwietek opened #156 "Improper binding of ports for C# openSDK"
Improper binding of ports for C# openSDK occurs while starting the agent. The agent binds to local host addres, and later it operates on  port 8585.

It resembles the mechanism in vanilla appium, however in Vanilla Appium it is operational on all connected IP addresses, therefore all IP addresses are accessible.

While using an agent through a web browser it works correctly, problem occurs for age

[2021-03-29 08:26] basdijkstra commented on #156
I'm not sure that this is an issue specific to the C# OpenSDK, but rather how the Agent works. @mstrelex, do you have anything to add?

[2021-03-30 00:02] mstrelex commented on #156
The agent binds to `localhost` on port **8585** only, for HTTPS it binds to all interfaces on port **8443** and is accessible via `https://local.rdr.tpagent.io`

@AnnaSwietek could you please elaborate on what is your scenario and how you use the SDK?

[2021-03-30 00:04] mstrelex commented on #155
Automatic reports use locators that are sent to the Selenium/Appium server.
Having your custom variable names or even when POM is used will require manual reporting.

[2021-03-30 00:08] mstrelex commented on #154
@basdijkstra

On `2021-03-25 10:56:21.579`,  I see `Development socket disconnected`
This happens during driver initialization interrupting development session initialization.

Earlier (`2021-03-25 10:56:19.677`) I see `Reusing existing development session.
Can you please check whether the TCP socket connection is kept open between consequent tests?

[2021-03-30 13:48] basdijkstra commented on #155
@kishangupta-15 you can find an example here: https://github.com/basdijkstra/testproject-opensdk-demo. I've disabled automatic command reporting and wrapped standard Selenium actions in `SeleniumHelpers` that take care of waiting and automatically report manual steps with their result to TestProject.

This is what the output looks like:

![image](https://user-images.githubusercontent.com/10740451/

[2021-03-30 14:23] kishangupta-15 commented on #155
@basdijkstra thank you for the example, I got what you guys are trying to say and I agree. Hence closing the issue from my side.

Btw I seen similar examples on your blog for plain Selenium WebDriver way back and already had implemented something very similar to that in one of my previous projects. Thanks a lot!

[2021-03-30 14:23] #155 closed

[2021-03-30 15:16] basdijkstra commented on #154
@mstrelex it is, whenever I run and report multiple tests that are supposed to be in the same job, they are indeed reported in the same job. That couldn't happen if the socket connection was closed in between tests..

[2021-03-30 23:57] mstrelex commented on #154
@basdijkstra That's right.
@AnnaSwietek could you please share more details regarding your scenario?

[2021-03-31 10:35] Rantzur1992 commented on #100
Hello @SantoshYakkala
I was not able to find a website that reproduces it without using your own.
Perhaps you can share with me the web application (I know it is not in production yet) but it will save us a lot of time searching so we will solve the issue quicker.

[2021-04-02 07:24] basdijkstra commented on #71
@SabotageAndi I'm closing this issue for now, as I haven't heard any troubles related to it from customer support or our users. If these do come up, I'm happy to have the issue reopened and apply the changes you suggested.

[2021-04-02 07:24] #71 closed

[2021-04-02 09:05] SabotageAndi commented on #71
Fine for me!

[2021-04-02 09:26] basdijkstra commented on #92
@SabotageAndi @RoganMatrivski to what extent is this still a problem? As far as I can see, the only 'open' problem in this issue is the fact that when you use the `FindElement` method defined in `IWebElement` and the element cannot be found, it throws an `ArgumentException` rather than a `NoSuchElementException`, correct?

[2021-04-02 10:36] AnnaSwietek commented on #156
Hi,

[2021-04-03 17:40] RoganMatrivski commented on #92
@basdijkstra Hi, sorry for the long reply. As far as I'm concerned, the latest version already fixes the issue I mentioned. Which is finding elements with a certain By function that returns an improper exception. Previously the error returned ```elementDictionary``` when using By Name and ID, even if the element exists in the page. But I recently went back to this issue, i can use the By Name and

[2021-04-03 19:23] basdijkstra commented on #92
Hey @RoganMatrivski, thank you for letting us know. Closing this issue now. Feel free to reopen or reference it at any point in time if you feel something else can be improved.

[2021-04-03 19:23] #92 closed

[2021-04-05 17:56] Rantzur1992 commented on #156
Thanks, @AnnaSwietek, this change will be implemented on the Agent side, which will then can be utilized from the SDK.
I will update you it is done.

[2021-04-06 09:08] AnnaSwietek commented on #156
Hi Ran Tzur,

Could you let us know which openSDk will have the fix in place?

Thank you & BR,
Anna

[2021-04-06 09:08] AnnaSwietek commented on #154
Hi Ran Tzur,

Could you let us know which openSDk will have the fix in place?

Thank you & BR,
Anna

[2021-04-06 09:11] Rantzur1992 commented on #154
All SDKs will have it, since the implementation will be on the Agent side.

[2021-04-06 09:11] Rantzur1992 commented on #156
All SDKs will have it, since the implementation will be on the Agent side.

[2021-04-06 09:30] Chrys123 commented on #136
Sorry I was on holiday, so I am going to test it now

On Sat, Mar 20, 2021 at 7:24 AM Bas Dijkstra ***@***.***>
wrote:

[2021-04-06 10:18] Chrys123 commented on #136
Im confused. Is reporter.step not working anymore?

On Tue, Apr 6, 2021 at 9:30 AM Chrysanthi Tsolomanidou <
***@***.***> wrote:

[2021-04-06 10:25] basdijkstra commented on #136
Which command is failing for you? Please include at least a code snippet because me having to guess what is wrong on your end is not productive..

`driver.Report().Step()` should still work fine.

[2021-04-06 10:30] Chrys123 commented on #136
well I have a  project where I do a global driver initialisation and i use
the reporter in my test classes.

I do webdriver.Report and it doesnt recognise it .

Can we please arrange a zoom call?

On Tue, Apr 6, 2021 at 10:26 AM Bas Dijkstra ***@***.***>
wrote:

[2021-04-06 10:32] basdijkstra commented on #136
@Rantzur1992 are you able to take a call with @Chrys123 ?

[2021-04-06 10:33] Chrys123 commented on #136
On Tue, Apr 6, 2021 at 10:30 AM Chrysanthi Tsolomanidou <
***@***.***> wrote:

[2021-04-06 10:51] Rantzur1992 commented on #136
Hello @Chrys123
Please send an email to ran.tzur@testproject.io
I will send you a zoom link.

[2021-04-06 11:41] Rantzur1992 commented on #136
@basdijkstra Just to make sure.

`reporter.DisableCommandReports(DriverCommandsFilter.All)`

It should report manual steps creation as well as catching and reports all possible errors that can be thrown while the test is executing?

[2021-04-06 12:18] Chrys123 commented on #136
As I saw the execution with Ran, it doesn't really bring up the screenshots
on the failed items and it reports also irrelevant errors like the close
driver (which shouldn't even be reported as why would there be an error??)

On Tue, Apr 6, 2021 at 11:41 AM Ran Tzur ***@***.***> wrote:

[2021-04-06 12:48] basdijkstra commented on #136
That filters *all* driver commands, both passed and failed. It's all documented here: https://github.com/testproject-io/csharp-opensdk#disable-driver-command-reports

[2021-04-06 12:54] Rantzur1992 commented on #136
Right, so we need to pass DriverCommandsFilter.Pass to filter passed commands and keep only failed ones.

So right now, like me and @Chrys123 seen, screenshots are not uploaded (white screen).

This could be agent related.

[2021-04-06 13:06] Chrys123 commented on #136
Also, I am unable to generate reports

On Tue, Apr 6, 2021 at 12:55 PM Ran Tzur ***@***.***> wrote:

[2021-04-06 13:17] Rantzur1992 commented on #136
@Chrys123  If you are unable to generate the PDF report please reach out the Support chat, they will open a bug on this issue.

[2021-04-06 13:21] Chrys123 commented on #136
I am not able to generate only if the test has failures.

On passed tests I can

On Tue, 6 Apr 2021, 14:18 Ran Tzur, ***@***.***> wrote:

[2021-04-06 14:28] Chrys123 commented on #136
For me it's not working

On Tue, 6 Apr 2021, 14:58 Ran Tzur, ***@***.***> wrote:

[2021-04-06 14:31] Rantzur1992 commented on #136
Regarding the report generation, first please reach out to support@testproject.io so we will be able to investigate and open a bug on this if necessary.

Regarding the screenshots, when you run the test, in the moment it fails, do you see the browser window open and the web application is visible?

[2021-04-06 14:32] Chrys123 commented on #136
Yes it is perfectly visible.

On Tue, 6 Apr 2021, 15:31 Ran Tzur, ***@***.***> wrote:

[2021-04-06 14:41] Rantzur1992 commented on #136
Okay then, I am using an unreleased version of the SDK.
Let's wait until this version is released, and give it another try as I am unable to reproduce it on this version.

[2021-04-07 06:32] Chrys123 commented on #136
But I have version 0.66 as advised

On Tue, 6 Apr 2021, 15:41 Ran Tzur, ***@***.***> wrote:

[2021-04-07 11:50] Rantzur1992 commented on #136
@Chrys123 Correct but It's not the latest, there is also another one and an unreleased version.

Once the latest version is released, give it another try, it should work.

[2021-04-08 09:05] Rantzur1992 commented on #154
Hi @AnnaSwietek I tried the following:

Had 3 tests on Android, with one setup where the driver is started, and a quit at the end, and each appium session started and stopped as expected.

Do you have some example code?

[2021-04-08 09:09] Rantzur1992 commented on #100
I am closing this, as it requires the URL on the application.

[2021-04-08 09:10] Rantzur1992 commented on #111
This looks good, closing.

[2021-04-08 09:10] #111 closed

[2021-04-08 09:11] Rantzur1992 commented on #140
Verified, closing.

[2021-04-08 09:11] #140 closed

[2021-04-08 09:12] Rantzur1992 commented on #142
@kishangupta-15 Can you double-check if it's okay and update this ticket, please.

[2021-04-08 09:27] basdijkstra commented on #147
I can't reproduce this. I've changed the activity name to just `MainActivity` (for the TestProject demo app), which results in this session request payload:

[code]
and that starts a new session without problems.

[2021-04-08 09:55] gil-testproject opened #163 "GenericDriver fails with "System.InvalidOperationException: 'The collection has been marked as complete with regards to additions.'""
This bug is regression from 0.66

Execute code

[code]

Issue
![image](https://user-images.githubusercontent.com/81077108/114007048-a6103480-9869-11eb-84fe-cf6f5f3e87b9.png)

It worked ase expected with 0.66

[2021-04-08 10:49] Rantzur1992 commented on #163
Thanks @gil-testproject

This is fixed in https://github.com/testproject-io/csharp-opensdk/pull/164

[2021-04-08 12:51] #163 closed

[2021-04-09 06:23] kishangupta-15 commented on #142
@Rantzur1992, @basdijkstra I have verified this and it is working fine now. Since I have not logged this issue here, I am unable to close it. You guys please go ahead and close it.

[2021-04-09 06:34] basdijkstra commented on #142
Thank you for confirming. Closing this issue.

[2021-04-09 06:34] #142 closed

[2021-04-09 11:39] basdijkstra commented on #147
At first glance it *looks* like the `ResetApp()` call automatically restarts the activity in Appium but fails to do that in TestProject. Which is strange, because our driver is a simple extension of the Appium driver... Will need to dive into this a little deeper.

[2021-04-09 12:45] basdijkstra commented on #147
@mstrelex @s-glatshtein do you have any idea what could cause this behaviour?

When I use vanilla Appium, my emulator screen shows the app right after a call to `ResetApp()`, whereas the TestProject driver, which is a direct extension of the Appium driver, shows a blank screen after `ResetAp()`. I'm running the exact same test with the exact same capabilities.

[2021-04-09 13:23] mstrelex commented on #147
I believe that this happens since besides the capabilities provided in the snippet above there are also "hard-coded" capabilities that TestProject AGent sends, among which there is the "norest=true" that might cause this behavior.

@Rantzur1992 Could you please investigate and propose an Agent fix if required?

[2021-04-09 13:30] basdijkstra commented on #147
Thanks @mstrelex, I'm reassigning this to @Rantzur1992 for now.

[2021-04-11 10:30] gil-testproject opened #165 "Steps from 2 tests combined into one test in the cloud report when using AndroidDriver"
I have Agent 2.1.1.387
C# OpenSDK 1.0.0.400-rc

I executed the following code locally:
[code]

When i executed it locally, I got in the cloud report with one test and all steps from `Test1()` and `Test2()` combined and listed under one test in the report:

![image](https://user-images.githubusercontent.com/81077108/114300631-f259af80-9ac9-11eb-83f4-95b075510981.png)

The expected behavior is to ge

[2021-04-11 11:39] Rantzur1992 commented on #165
PR #166 should solve this issue.

[2021-04-12 06:16] Rantzur1992 commented on #147
I will check it out.

[2021-04-12 07:07] #165 closed

[2021-04-12 13:46] kishangupta-15 opened #167 "Documentation should mention the underlying version of selenium that OpenSDK is extending"
Documentation should mention the underlying version of selenium that OpenSDK is extending

[2021-04-13 12:24] AnnaSwietek commented on #154
I believe the problem is more high level and it is related to the fact that TestProject does not manage to generate the report fast enough.

[2021-04-13 12:41] AnnaSwietek opened #168 "Incorrect page source content response"
After
`driver.PageSource;`

we get a string response with the type on one of the tabs of our app on iOS
`System.Collections.Generic.Dictionary`2[System.String,System.Object]`

instead of full XML structure - in the attachment

It looks as if there is something unexpected in the XML structure, as for other tabs of the same app it works correctly.
Appium response is correct (the attachment)

To sum

[2021-04-13 18:14] basdijkstra commented on #167
Can you give me a reason why, @kishangupta-15? You can always find this information in the `.csproj` file for the project:

https://github.com/testproject-io/csharp-opensdk/blob/9a024a7d83ef29ade0899999b94a337c601c6656/TestProject.OpenSDK/TestProject.OpenSDK.csproj#L29

[2021-04-13 18:17] basdijkstra commented on #168
Is there a specific page URL that we can use to reproduce this issue, @AnnaSwietek? Especially because you say that it works for other pages when you're using the OpenSDK (or did I misinterpret that and does it fail for all pages)?

We simply extend the Selenium `RemoteWebDriver` that executes the `GetPageSource` WebDriver command as mentioned here:

https://github.com/SeleniumHQ/selenium/blob/e67

[2021-04-14 07:55] AnnaSwietek commented on #168
To specify precisely, the problem occured on iOS native application, not on a web.

[2021-04-15 04:00] basdijkstra commented on #168
@Rantzur1992 can you take this up with @AnnaSwietek? See my latest email.

[2021-04-15 04:00] basdijkstra commented on #147
Any news on this one, @Rantzur1992 ?

[2021-04-18 07:11] Rantzur1992 commented on #123
This is solved

[2021-04-18 07:11] #123 closed

[2021-04-18 07:34] Rantzur1992 commented on #147
@basdijkstra I am checking it now on the Agent side.
Since this is Agent related, a fix will come in a new agent version.

[2021-04-18 08:03] Rantzur1992 commented on #147
@basdijkstra  I checked running an Android Test without start activity and it seems to work fine.
Can you show me the capabilities that you passed?

[2021-04-18 08:22] Rantzur1992 commented on #147
@basdijkstra I see an issue where the test does not wait but fails right after with an ElementNotFound exception after the reset.

If I add some pause, or implicit waits, it does work (the app opens)

[code]

[2021-04-18 11:31] basdijkstra commented on #147
Does this mean that with proper waiting in place, the test would pass? Or is there something on the SDK side that needs fixing?

[2021-04-18 12:02] Rantzur1992 commented on #147
Correct.
I don't think it's on the SDK side, just need to add some implicit wait to not fail the test immediately if an element is not found, since the app does open up.
The difference here, is that start activity waits until the app is open before moving to the next command, reset app moves forward before the app finishes opening, it it fails on finding the element since the app did not load yet.

[2021-04-19 07:26] kishangupta-15 commented on #167
Yes Bas, we can always find this information in .csproj file. But I believe that is the most important piece of information and it would be quite useful to add it in the documentation as opposed to checking .csproj file especially when presenting to management and non-technical actors.

[2021-04-19 07:33] Rantzur1992 commented on #147
@basdijkstra Did you give it a try?

[2021-04-19 08:30] basdijkstra commented on #147
No, I haven't had the time for that yet. Can't do that before Wednesday.

[2021-04-19 08:40] basdijkstra commented on #167
@Rantzur1992 what do you think?

[2021-04-19 08:42] Rantzur1992 commented on #167
@mstrelex I am sure it is possible?

[2021-04-20 10:51] Chrys123 opened #169 "Open SDK does not recognise iFrame by either an id or name"
In the previous SDK there was no issue in that part.

With the same code, the iFrame cannot be recognised in the new SDK.

                Thread.Sleep(5000);
		driver.SwitchTo().Frame("WebResource_DocumentViewer");
		Thread.Sleep(5000);

Error Message:
   OpenQA.Selenium.NoSuchFrameException : No frame element found with name or id DocumentViewer
  Stack Trace:
     at OpenQA.Selenium.Remote.Remo

[2021-04-20 10:51] Chrys123 commented on #169
![iFrame](https://user-images.githubusercontent.com/32673876/115384270-5f55ff00-a1c6-11eb-8b12-bd6a20e4eab5.PNG)

[2021-04-20 10:53] Chrys123 commented on #169
![reportiframe](https://user-images.githubusercontent.com/32673876/115384509-a9d77b80-a1c6-11eb-8050-dfbf71e01d6a.PNG)

[2021-04-20 11:09] Rantzur1992 commented on #169
Hello @Chrys123

This Code:

[code]

Works fine, so I believe it is something in your test.

[2021-04-20 11:13] Rantzur1992 commented on #168
Hi @AnnaSwietek
Sent you an email about the IOS application.
I will close this issue, since we are continuing this over email.

[2021-04-20 11:13] #168 closed

[2021-04-20 11:25] Chrys123 commented on #169
No its not, because the same code i sent is used and works in the old SDK, but not the open sdk.
I simply switch to the iframe id, which works still in the old one.

[2021-04-20 11:28] Rantzur1992 commented on #169
Can you please try the above test and see if it works for you.

[2021-04-20 11:59] Chrys123 commented on #169
ok it does pass with this var iframe = this.driver.FindElement(By.XPath("//iframe[@title='W3Schools Free Online Web Tutorials']"));
            this.driver.SwitchTo().Frame(iframe);
But its a little bit like an extra step since it should already get the frame id from the switch method,

Thanks anyway

[2021-04-20 12:12] Chrys123 commented on #169
driver.SwitchTo().Frame(this.driver.FindElement(this.documentIFrame));

[2021-04-20 12:14] Rantzur1992 commented on #169
`this.driver.SwitchTo().Frame("iframeResult");`

Did work for me, perhaps it just times out quicker searching for the iFrame

[2021-04-20 12:41] Rantzur1992 commented on #154
I am closing this, as we are continuing over email.

[2021-04-20 12:41] #154 closed

[2021-04-20 13:55] #169 closed

[2021-04-21 15:11] basdijkstra commented on #147
I've played around with this a little, but even after adding a 20 second wait nothing happens after the `ResetApp()` call. Only when I add the call to `StartActivity()` the app reopens and my test continues as expected.

But if you say it works on your machine with the C# SDK, it should be something on my end. I've used the latest SDK code and the latest Agent (2.1.1).

If you can't reproduce it a

[2021-04-23 08:46] Chrys123 opened #170 "In the reporting, the navigation to the URL is failing on the reporting only"
So, when I am executing the test son the dev environment, the navigation to URL, seems to be failing on the reporting, but the test is passing overall.

I have no failures on the command line of the code editor.

![ErrorReporting](https://user-images.githubusercontent.com/32673876/115845432-5e181280-a410-11eb-95fd-d7720f58eaf1.PNG)

[2021-04-26 06:29] s-glatshtein opened #171 "Add support for local report URL"
Starting with agent 2.2.0, session response will contain a link to download the report, to support getting the report from a remote agent. \
- We should show the local report path only if running against a local agent.
- We should always show the report URL.

[2021-04-26 14:19] #171 closed

[2021-04-26 15:43] Rantzur1992 commented on #170
Hello @Chrys123
Can you show the code section which invokes the driver.get please.

[2021-04-26 15:50] Rantzur1992 commented on #167
@kishangupta-15 https://github.com/testproject-io/csharp-opensdk/pull/175

[2021-04-26 15:53] #167 closed

[2021-04-26 15:54] Rantzur1992 commented on #147
I'll give it a few extra tries to see if I can reproduce it on different devices.

[2021-04-28 12:15] Rantzur1992 opened #177 "Test Name is sometimes not reported correctly"
Running the following code:

[code]

Sometimes reports the following test if a step fails:
![image](https://user-images.githubusercontent.com/6703682/116402009-8fd81180-a834-11eb-9b5d-9f5d1902f37d.png)

[2021-04-28 12:16] Rantzur1992 opened #178 "Mobile Tests reports each step twice"
[code]

Result:

![image](https://user-images.githubusercontent.com/6703682/116402136-b72ede80-a834-11eb-8bf1-efdbf41bc8f1.png)

[2021-04-28 12:17] #178 closed

[2021-04-28 12:17] #177 closed

[2021-04-28 13:28] Rantzur1992 commented on #156
Hi @AnnaSwietek
This has been implemented on boh the agent side and on the SDK
Please check this blog: https://blog.testproject.io/2021/04/28/distributed-execution-for-test-automation/

[2021-04-28 13:28] #156 closed

[2021-04-28 13:39] Chrys123 commented on #170
public bool navigateToURL(string URL){
    driver.Url = URL;
    return true;
    }

This is the method that i use to navigate

[2021-04-28 15:04] Rantzur1992 commented on #170
@Chrys123  Can you please try with SDK version 1.1.1

[2021-04-29 08:41] s-glatshtein opened #181 "feature: allow uploading tests that can be parameterized by TestProject"
Recently Java SDK added the ability to upload tests that can be parameterized by TestProject platform. The same should be done for C# SDK.

[2021-05-02 05:29] Rantzur1992 commented on #147
I am not able to reproduce this, hence I am closing this ticket.
In case it comes up in a reproducible scenario, I will re open.

[2021-05-02 05:29] #147 closed

[2021-05-02 05:30] #136 closed

[2021-05-05 10:02] Chrys123 opened #185 "Apparently now code upload on Test Project cloud platform, does not support test fixtures"
I cannot run the tests online, because apparently I am using test fixtures.

This needs to be resolved ASAP, as i need to be able to run tests in multiple browsers as well from the platform and use Nunit.

Please fix this ASAP

[2021-05-05 10:02] Chrys123 commented on #185
This was working before, I was using test fixtures in legacy SDK

[2021-05-05 10:03] Chrys123 commented on #170
![report](https://user-images.githubusercontent.com/32673876/117125474-15097c00-ad89-11eb-8eb9-18c1a245fefd.PNG)

Tried it with the SDK you are suggesting, this seems to be a bug.

[2021-05-05 10:29] Chrys123 commented on #181
Yes I have this problem with C sharp coded tests upload, please fix this asap

[2021-05-05 10:31] Chrys123 commented on #185
Same issue is #181 but for Open SDK

[2021-05-05 10:40] Rantzur1992 commented on #170
@Chrys123 How are you setting up the driver?

Please provide the code snippet.

[2021-05-05 10:44] Chrys123 commented on #170
I will say it once again please: This appears as failed only on the reporting on the website. Nowhere else. So it has to be a bug.

[2021-05-05 10:51] Rantzur1992 commented on #170
It does not happen when I try to reproduce it, so I need more information on how your code works to be able to reproduce it on my end.

[2021-05-05 11:19] Chrys123 commented on #170
using OpenQA.Selenium;
using TestProject.OpenSDK.Drivers.Web;
using TestProject.OpenSDK.Internal.Helpers.DriverOptions;
using global:: NUnit.Framework;
using System;
using TestProject.OpenSDK.Enums;

namespace BrowserInitialisation
{

[TestFixture(BrowserType.Chrome)]

public class BrowserInit
{
    protected IWebDriver webDriver;
    protected TestProject.OpenSDK.Internal.Reporting.Reporter repor

[2021-05-05 11:19] Chrys123 commented on #170
I use global browser initialisation

[2021-05-05 12:05] Rantzur1992 commented on #170
Sorry, @Chrys123 But I am not able to reproduce this no matter what I try.

[code]

[2021-05-05 12:13] Chrys123 commented on #170
But we don't use the same structure I use a global browser initialization
please with separate test classes.

It's a bug

On Wed, 5 May 2021, 13:06 Ran Tzur, ***@***.***> wrote:

[2021-05-05 12:32] Rantzur1992 commented on #170
I did apply the same:

Base Class:
[code]

Test Class:
[code]

[2021-05-05 13:56] Chrys123 commented on #170
I am using also the reporter.step

[2021-05-05 13:59] Rantzur1992 commented on #170
Where are you using it?
Do you have something special in your test code?

[2021-05-05 14:25] Chrys123 commented on #170
using global::NUnit.Framework;
	using TestProject.SDK.Examples.Web.Test.Pages;
    using TestProject.SDK.Examples.Web.Test.TestParameters;
    using TestProject.OpenSDK.Internal.Helpers.DriverOptions;
	using BrowserInitialisation;
	using System.Threading;

	namespace RevalidationTests
    {

    public class RegistrationLapseMidwife2021Test : BrowserInit{

    public RegistrationLapseMidwife2021Te

[2021-05-06 11:15] Rantzur1992 commented on #170
What happens in the 3rd parameter here:

`		reporter.Step("Logged in", "Given I have logged in with my Revalidation account", revalidationAccountPage.atRevalidationAccountPage(RevalidationAccountParameters.registrantAccountNameMidwifeRevalidation, RevalidationAccountParameters.revalidationMidwifeExpiryDates), screenshot:true);`

[2021-05-06 11:22] Chrys123 commented on #170
Well it checks if I am in the revalidation account page.

Please fix this as its a bug

On Thu, 6 May 2021, 12:16 Ran Tzur, ***@***.***> wrote:

[2021-05-06 11:24] Rantzur1992 commented on #170
I won't be able to fix something I can't reproduce.

If you can, please share your code segments which I will be able to reproduce it to support@testproject.io

[2021-05-06 14:32] Rantzur1992 opened #187 "[NUnit] Tests with TestCase or TestSource attributes don't generate a test name"
For Example:

Attribute:
`[TestCase("ran", "12345")]`

Results in a nameless generated report.

[2021-05-06 14:35] #187 closed

[2021-05-07 11:57] Chrys123 commented on #170
why cant you please?  I think that the bug is very clear to see.

[2021-05-09 05:11] Rantzur1992 commented on #170
The bug indeed is clear, the problem is, it does not reproduce on my side to debug.
If you can share your project, perhaps I will be able to debug and see the issue.

[2021-05-09 05:12] Rantzur1992 commented on #185
Hello @Chrys123
Uploading tests with Test Fixtures is not yet supported with the OpenSDK.

[2021-05-09 05:19] #185 closed

[2021-05-09 12:58] gil-testproject opened #190 "Can't install TestProject OpenSDK - Error: "Version conflict detected for xunit.assert""
When I try to install the OpenSDK, I get the following error:
![image](https://user-images.githubusercontent.com/81077108/117573212-4fec1680-b0df-11eb-9c06-0755137c20b3.png)

[2021-05-09 13:05] Rantzur1992 commented on #190
The SDK uses Xunit 2.4.1 which is the latest, updating your xunit version will solve the issue

[2021-05-09 13:05] #190 closed

[2021-05-10 08:24] Chrys123 commented on #185
So when  is this going to be fixed please?

[2021-05-10 08:25] Chrys123 commented on #170
I cannot do that unfortunately as this is not a personal project. I cannot share the entire project.

[2021-05-10 08:31] Chrys123 opened #191 "Please do support code test upload for Open SDK - Test Fixtures"
I am re opening this issue as this is blocking me from uploading tests in the platform and running them in multiple browsers.

It needs to be fixed ASAP as this was not happening in legacy SDK so it is clearly a downgrade.

[2021-05-10 08:34] Rantzur1992 commented on #170
Can you share one of the tests?

[2021-05-10 08:34] Chrys123 commented on #191
I am using NUnit as a test runner, so I need to use the library's annotations

[2021-05-10 08:48] Chrys123 commented on #170
I already shared the entire test class above

[2021-05-11 08:08] Chrys123 commented on #170
[New Compressed (zipped) Folder.zip](https://github.com/testproject-io/csharp-opensdk/files/6457510/New.Compressed.zipped.Folder.zip)

[2021-05-17 10:22] Chrys123 opened #195 "Integration with Browser Stack"
Hi

So, since its going to be a while that you will implement the test fixtures, will integration with Browser Stack solve this problem temporarily for me to run the tests in multiple browsers?

[2021-05-17 13:19] mstrelex commented on #195
@Chrys123

Would you mind please sharing what was the behavior with legacy SDK and how the OpenSDK prevents it by not allowing the fixtures?

[2021-05-17 13:25] Chrys123 commented on #195
I have always been using the NUnit and the test fixtures library from NUnit to run my tests in multiple browsers.

On Open Sdk, the tests cannot run from the platform as test fixtures are not supported.

I am asking here, if i integrate my tests with browser stack, will they run regardless? I want browser variety anyway

[2021-05-18 15:39] s-glatshtein opened #196 "Add an easy way to create a driver that runs on SauceLabs and BrowserStack"
java OpenSDK has a special cloud:URL capability that lets us define driver that runs on cloud.
We should add this capability to C# OpenSDK as well, and add documentation on how to use it

[2021-05-18 16:02] s-glatshtein commented on #195
Hi Chrys. Can you please elaborate on how you were planning to parameterize the tests?

[2021-05-18 16:08] Chrys123 commented on #195
What do you mean?

I am using the test fixtures annotation from Nunit.

Then I call the base type inside my test class.

Can you please answer my question above?

Can Browser Stack integration allow me to run my coded tests?

On Tue, 18 May 2021, 17:02 Shai Glatshtein, ***@***.***>
wrote:

[2021-05-18 16:26] s-glatshtein commented on #195
You can run your tests on BrowserStack by setting the `cloud:URL` capability in the options root as follows:
[code]

The reason i was asking was because you were talking about the issue you had with test fixtures.

[2021-05-18 16:37] Chrys123 commented on #195
It's not an issue I just have. It's an issue with Open SDK.

The platform doesn't support test fixtures as I've been told and therefore
I can't run my coded tests from there.

Therefore, I would need an alternative to run my tests in multiple browsers.

I have no clue how the integration with Browserstack works and the whole
thing is really confusing.

I am not just writing unit tests, I am writin

[2021-05-19 10:05] Chrys123 commented on #195
Can someone please give me a substantial answer on what I am asking here?

It is really important please. I need to run the tests in multiple browsers, using NUnit and Test Fixtures on Browser Stack, without the platform in the middle.

Can someone answer if this can be done and how please?

[2021-05-19 11:47] s-glatshtein commented on #195
I understand you need support for [TestFixure] annotation with parameters, and it may take some time until TestProject can upload & execute those correctly. In the meanwhile, if you would like to control the driver type from your tests, you can do one of the following:

1. Hard-code the driver type during upload. This is a temporary workaround only for uploads, until we are able to support your sc

[2021-05-19 11:52] Chrys123 commented on #195
No its not please can you tell me if I can use Browser  stack with Test
Fixtures you are NOT answering my question here.

I am not going to change the whole structure of my code because of this.

I need to know please if I can run my tests in Browser stack with Test
fixtures

On Wed, 19 May 2021, 12:47 Shai Glatshtein, ***@***.***>
wrote:

[2021-05-19 13:09] s-glatshtein commented on #195
You cannot upload tests that use a [TestFixture] with parameters in it at this time, even with BrowserStack. We are still working on support for it.
In the meanwhile, you can return to legacy SDK until we add the support you need.

[2021-05-19 13:21] Chrys123 commented on #195
I cant do that, as  I have developed all my tests in the new Open SDK.
Nunit is a core runner for C# automation tests, I really do not understand why you do not have support in place for this.
Is it possible to give me a timeline as to when the support will take place?

Thanks

[2021-05-21 09:02] Chrys123 commented on #170
Please fix this bug. Thank you

[2021-05-21 09:02] Chrys123 commented on #195
I have raised this issue with Browserstack separately now

[2021-05-31 13:34] kishangupta-15 commented on #59
@s-glatshtein @Rantzur1992 Could you guys please let me know when the post sharp issue will be resolved and this code will be made available?
This has a huge impact for me as in my organization, we will have to rewrite all of our existing tests due to this.
An early resolution will be highly appreciated.

[2021-05-31 14:05] s-glatshtein commented on #59
hi @kishangupta-15. We're working on it and will keep you posted here.

[2021-06-03 09:04] Chrys123 opened #198 "When running a test on the dev environment, it doesnt show all the browsers"
It shows only Chrome in the reports section
![Browsers](https://user-images.githubusercontent.com/32673876/120618577-bd733480-c44a-11eb-88b6-791076d095c9.PNG)

[2021-06-07 08:38] s-glatshtein commented on #198
Hi Chrys.
Can you check if by chance there is more than one report created? Is this the same test structure you were using in our previous conversations?

[2021-06-07 08:41] Chrys123 commented on #198
It's exactly the same structure, always use the latest version of SDK and
the agent

On Mon, 7 Jun 2021, 09:39 Shai Glatshtein, ***@***.***> wrote:

[2021-06-07 08:45] s-glatshtein commented on #198
And is there always one report created or more? You can check the recent reports by hovering the _Report_ option in the platform

[2021-06-07 09:01] Chrys123 commented on #198
1 test run with 3 browsers = 1 report

On Mon, 7 Jun 2021, 09:45 Shai Glatshtein, ***@***.***> wrote:

[2021-06-15 09:30] SantoshYakkala commented on #170
@Rantzur1992 even I am also having the same issue in reports with Xunit Framework and TestProject OpenSDK 1.2.0 . My test is successfully passing on the visualstudio test explorer, but where as report shows Navigation to URL failed.

[2021-06-15 09:50] kishangupta-15 commented on #59
@eldarkra @mstrelex @vitalybu @s-glatshtein @Rantzur1992 @basdijkstra

Guys, any update on the progress for resolution of this issue?

[2021-06-15 10:34] s-glatshtein commented on #59
Hi @kishangupta-15.
We're encountered delays due to a problem with the solution Ran found. We are working on fixing it, but it will take a little longer. I'm very sorry for the delay. We will prioritize solving this as soon as possible.

[2021-06-15 10:43] Chrys123 commented on #170
Absolutely. It's ridiculous that these kind of errors are not fixed.

On Tue, 15 Jun 2021, 10:30 SantoshYakkala, ***@***.***> wrote:

[2021-06-15 11:32] s-glatshtein commented on #170
Hi Santosh. Are the reports you are seeing the same?

[2021-06-15 11:35] Chrys123 commented on #170
Can I ask you something please?

I have given plenty of evidence so far that this is a bug.

Why are you not fixing it?

Thanks

On Tue, Jun 15, 2021 at 11:32 AM Shai Glatshtein ***@***.***>
wrote:

[2021-06-15 11:40] SantoshYakkala commented on #170
@s-glatshtein
Yes, I am seeing the same report as shown in this issue.

[2021-06-15 11:46] vitalybu commented on #170
@Chrys123, I can assure you that all reported issues are being investigated.
In this case Ran was not able to reproduce it locally even with all the information you provided.

@s-glatshtein will take over and look into everything again.

[2021-06-16 08:36] kishangupta-15 opened #199 "Ghost Tests are being reported as skipped"
Ghost tests are being reported as skipped when executing tests.

![image](https://user-images.githubusercontent.com/54025467/122186331-8faad880-ceab-11eb-8c1b-40cac42e96ff.png)

I have only two tests, but as seen in the report above, 4 tests are being reported. Two of them are actual tests and two of them are ghost tests which are marked as skipped.

using Autofac;
using OpenQA.Selenium;
using Wei

[2021-06-16 09:42] s-glatshtein opened #200 "When command fails, we do not report the actual error"
Several errors are hidden for users because we always report a command as timed out and hide the actual error

[2021-06-16 09:51] #200 closed

[2021-06-16 12:05] s-glatshtein commented on #199
Thank you for submitting this issue. Can you attach your base class as well for reference?

[2021-06-16 12:18] kishangupta-15 commented on #199
Sure.

using Autofac;
using Weiss.Ioc.Extensions;
using Weiss.Testing;
using Xunit.Abstractions;

namespace Weiss.Panda.Testing.Website
{
    public abstract class WebsiteTestBase : TestBase
    {
        private static readonly IContainer _container;
        protected readonly ILifetimeScope LifetimeScope = _container.BeginLifetimeScope();

        static WebsiteTestBase()
        {
            v

[2021-06-16 17:51] kishangupta-15 commented on #199
@SantoshYakkala, @s-glatshtein Not the same issue

[2021-06-16 18:18] SantoshYakkala commented on #199
@kishangupta-15 , Can you please provide your TestBase class as well

[2021-06-17 05:33] s-glatshtein opened #202 "Add cloud URL capability constant"
Java OpenSDK already has a class with this capability. It is required to allow users to create cloud drivers easily

[2021-06-17 05:35] s-glatshtein commented on #199
Hi @kishangupta-15. Wanted to let you know that we found the source of the problem. It should be fixed in the next release

[2021-06-17 05:38] s-glatshtein opened #203 "Tests with WebDriverWait report several failed steps even if the final call succeeds"
We see that when WebDriverWait does several checks, there are several failed steps in the report, even though the call itself didn't fail.

[2021-06-17 05:39] s-glatshtein commented on #170
Hi @Chrys123. I just wanted to update you that we found the source of the issue with failures in `driver.Navigate().GoToUrl()` and it should be fixed in the next version. I've also opened a separate issue for the steps with `WebDriverWait` and hopefully that will be part of the next release as well.

[2021-06-17 07:25] kishangupta-15 commented on #199
@s-glatshtein Thank you for the update

[2021-06-17 08:48] Chrys123 commented on #170
Hi I also have mentioned and provided evidence about the clickElement
failing.

Please fix that as well

On Thu, 17 Jun 2021, 06:39 Shai Glatshtein, ***@***.***>
wrote:

[2021-06-17 09:13] s-glatshtein commented on #170
Please follow https://github.com/testproject-io/csharp-opensdk/issues/203 to see update on that issue

[2021-06-17 18:35] Artem-Kuz commented on #202
I created a new pull request addressing this enhancement #205

[2021-06-20 08:13] #196 closed

[2021-06-20 08:13] s-glatshtein commented on #196
Closed as duplicate of https://github.com/testproject-io/csharp-opensdk/issues/202

[2021-06-21 13:46] s-glatshtein opened #208 "Report element.Displayed as failed if element is not displayed"
Automatic reporting reports step as passed and result contains the string "false".
In other languages this is reported as failed. We should do this here as well,

[2021-06-22 15:09] AnnaSwietek opened #210 "For Android HTML test execution some controls are not handled properly"
On the HTML webpage the value was set properly, but in the logs there is Null reference exception being thrown

[2021-06-23 09:49] AnnaSwietek opened #213 "For Android HTML test execution - Chromedriver timeout"
While executing HTML test cases with automation tool the Chromedriver timeouts.
Please find logs attached.
[logs (1).zip](https://github.com/testproject-io/csharp-opensdk/files/6700803/logs.1.zip)

[2021-06-25 14:05] kishangupta-15 opened #216 "FindElements function of driver is marked as failed in the report if it doesn't return any elements"
The FindElements method of selenium driver returns an array of WebElements as per selector. When it doesn't find any elements, it returns a empty array.

However, testproject driver is reporting the empty array case as a failure in the reports. In many cases, FindElements method is used to verify the existence of the element in the DOM. So, the empty array returned by FindElements method should no

[2021-06-28 12:32] mstrelex commented on #216
@kishangupta-15

Thanks for reporting this.
It will be handled at the earliest.

[2021-06-29 07:29] Artem-Kuz commented on #216
@mstrelex @kishangupta-15 I have investigated and found that the root cause of this issue is in the agent and not the OpenSDK.
a fix will be released in one of the next agent releases.

[2021-06-29 07:29] #216 closed

[2021-06-30 16:51] kishangupta-15 opened #217 "Either blank test name or incorrect test name is getting reported"
![image](https://user-images.githubusercontent.com/54025467/123983016-282f7580-d9e1-11eb-9c17-9ede93528253.png)

using System;
using System.Collections.Generic;
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Text;
using TestProject.OpenSDK.Drivers.Generic;
using System.Threading.Tasks;
using HtmlAgilityPack;
using TestProject.OpenSDK.Drivers;
using TestProject.OpenSDK.Dri

[2021-06-30 16:51] kishangupta-15 opened #218 "DriverBuilder is unable to create a new instance of ChromeDriver and throws exception"
DriverBuilder throws exception {"Failed to create an instance of TestProject.OpenSDK.Drivers.Web.ChromeDriver"} and is thus unable to create a new instance of ChromeDriver.

using System;
using OpenQA.Selenium;
using TestProject.OpenSDK.Drivers;
using Xunit;
using Xunit.Abstractions;
using ChromeDriver = TestProject.OpenSDK.Drivers.Web.ChromeDriver;

namespace TestProjectSample
{
    public class

[2021-07-05 13:13] SantoshYakkala opened #219 "Provided token for 'Development' session is invalid!"
Provided token for 'Development' session is invalid! message is displayed when running C# code on OpenSDK version 1.2.1.

Note: Downgrade to OpenSDK v1.2.0 worked without any issue.

This is the message displayed in the agent log file.

2021-07-05 22:51:14.931 DahlR2G_hE2jzfTS2VJ-eQ  ERROR 29268 idle-entry      i.t.a.b.a.d                              GET https://api.testproject.io/api/v1/agent/to

[2021-07-05 16:03] mstrelex commented on #219
Hi @SantoshYakkala

Starting from version 1.2.1,
when a token is provided in both the constructor and an environment variable,
the token in the environment variable will be used.

Can you please check if you have one defined?

Also please check the console logs of your IDE,
Do you see a message `Using TP_DEV_TOKEN parameter from environment` ?

[2021-07-05 16:04] mstrelex opened #221 "Improve the message logged when using token from environment variable"
`Using TP_DEV_TOKEN parameter from the environment` is not clear, we should explain it better.

[2021-07-05 18:39] SantoshYakkala commented on #219
Hi @mstrelex,

I am using environment variable for the token and the same value is being passed to the chromedriver.

[2021-07-05 21:43] mstrelex commented on #219
@SantoshYakkala

I can't reproduce this locally.
The only thing that has changed for you is the SDK version?
The asterisks `***` in your post are your valid token?

[2021-07-06 07:07] s-glatshtein commented on #100
This issue was resolved in the release of 1.2.1, and can now be closed

[2021-07-06 07:07] #100 closed

[2021-07-06 07:08] s-glatshtein commented on #203
Issue is resolved in 1.2.1 and can be closed

[2021-07-06 07:08] #203 closed

[2021-07-06 07:09] s-glatshtein commented on #195
Hi @Chrys123.
Since we were able to sort your issues with BrowserStack, and since proper integration was added to 1.2.1, i am now closing this issue.

[2021-07-06 07:09] #195 closed

[2021-07-06 07:28] s-glatshtein commented on #198
Hi @Chrys123.
We think we fixed the problem. Can you please try again with the latest agent and see if it works now?

[2021-07-06 07:29] s-glatshtein commented on #199
Hi @kishangupta-15 . I believe your issue was fixed in the newest agent. Can you please try it and let me know if it works?

[2021-07-06 07:29] s-glatshtein commented on #202
This was released in 1.2.1 and can now be closed

[2021-07-06 07:29] #202 closed

[2021-07-06 07:38] s-glatshtein commented on #217
Hi @kishangupta-15. You mentioned reporting steps before and after the initial website urls task. Are those step reports happening inside the `ContinuteWith` calls you have? Does it happen if all your `Report().Step` calls are from the test and not inside any tasks?

[2021-07-06 08:40] SantoshYakkala commented on #100
@s-glatshtein Yes, issue was resolved in v1.2.1 and tested. Functionality is working as expected.

[2021-07-06 09:13] kishangupta-15 commented on #219
@SantoshYakkala @mstrelex
I think you are using DriverBuilder for creating your driver instance. If have already logged the same issue 6 days ago. Please refer #218
The issue is with DriverBuilder. If you use new ChromeDriver() to initiate your driver, you won't face this issue.

[2021-07-06 11:28] SantoshYakkala commented on #219
@kishangupta-15 I am not using DriverBuilder. Passing the token information directly to ChromeDriver.

[2021-07-06 12:22] mstrelex commented on #218
@kishangupta-15

This is indeed a regression since 1.2.0, it will be fixed in the next release.

[2021-07-06 12:29] mstrelex commented on #219
@kishangupta-15 This is not related to #218 as this is not an exception in building the driver but something that has to do with how the token is passed.

[2021-07-06 12:31] mstrelex opened #222 "Fix DriverBuildler example - there is no such a thing as FireFoxOptions"
It should be `FirefoxOptions` and not `FireFoxOptions` in the DriverBuildler example in README.md

[2021-07-06 12:40] mstrelex commented on #219
@SantoshYakkala Can you print it in console with enclosing brackets something like `[ABC123]` to make sure it is indeed the correct token and has no invisible characters?

[2021-07-06 15:58] SantoshYakkala commented on #219
@mstrelex Found out the root cause of the issue.
Here are the steps to repo the issue.

1. Login to your TestProject Account->Integration->SDK
2. Get your developer token
3. Set the developer token in the environment variable TP_DEV_TOKEN
4. Start the agent
5. Run your test from your visual studio

**Expected Result:** Tests Should run successfully

**Actual Result:** Tests are getting successfull

[2021-07-07 08:06] s-glatshtein commented on #219
Hi Santosh.
Just to clarify, is the TP_DEV_TOKEN environment variable updated in your system settings, or in your visual studio's .runsettings file? If it is the former, then you need to restart visual studio for the environment variable's value to refresh. Environment variables are fixed when a process starts, so changing them in your OS will not change them in any running processes.

[2021-07-07 09:48] SantoshYakkala commented on #219
Hi Shai,

TP_DEV_TOKEN is updated in the system environment variables and I am reading the TP_DEV_TOKEN value from environment variable using this "private static string DevToken = Environment.GetEnvironmentVariable("TP_DEV_TOKEN", EnvironmentVariableTarget.Machine);"

[2021-07-07 11:29] s-glatshtein commented on #219
Thanks for the clarification Santosh.
This is how the OpenSDK chooses what dev token to use, as for 1.2.1:

1. Check the current process environment for TP_DEV_TOKEN - this is updated from parent process when it starts, meaning if you update the environment variable, you will need to restart you Visual Studio afterwards.
2. If no environment variable is present, check the `token` property that is

[2021-07-07 12:33] kishangupta-15 commented on #199
@s-glatshtein I have checked with Agent v 3.0.5 and this issue doesn't exist anymore. Thank you for resolving this.

[2021-07-07 12:33] #199 closed

[2021-07-07 12:48] SantoshYakkala commented on #219
Thanks for providing the information, but this wasn't the behavior in v1.2.0. In v1.2.0 it works as expected without closing the Visual Studio.

[2021-07-07 12:51] kishangupta-15 commented on #217
@s-glatshtein We don't have ContinueWith calls in our code. If a step is reported before initial website url tasks, then all the further steps are reported with the correct test name. I think the GetInitialWebsiteUrls() function rests the call stack due to which blank test name gets generated.

I had some related issues #149 and #150 to this, which were resolved earlier, maybe these can help.

[2021-07-07 12:56] kishangupta-15 opened #224 "Code for recorded tests can't be downloaded as TestProject OpenSDK for C#"
We are unable to download recorded tests as TestProject OpenSDK for C#. There is only one option of downloading TestProject Legacy SDK, which is no longer relevant.
The option to download recorded tests as TestProject OpenSDK is available for Java and Python both. But still not available for C#.

![image](https://user-images.githubusercontent.com/54025467/124762365-72b87100-df50-11eb-84b0-0a1be714

[2021-07-07 15:30] #221 closed

[2021-07-07 17:09] mstrelex commented on #218
@kishangupta-15

This is fixed in https://github.com/testproject-io/csharp-opensdk/releases/tag/v1.2.2

[2021-07-08 08:16] kishangupta-15 commented on #218
@mstrelex I have verified this issue and it is working as expected. Thank you for resolving this.

[2021-07-08 08:16] #218 closed

[2021-07-08 09:40] kishangupta-15 commented on #219
@mstrelex @s-glatshtein

As per the current dev token selection process, TestProject OpenSDK is giving priority to the environment variable over the token sent to driver i.e. higher level is getting priority(environment) over lower level(passed token).
But usually the priority is given to lower level and then the higher level variable. So, is there are specific reason why we are giving priority to

[2021-07-08 10:25] SantoshYakkala commented on #219
@s-glatshtein Thanks for the information provided.. This is an functionality change and behavior is as expected.. Closing the issue.

[2021-07-08 10:25] #219 closed

[2021-07-08 11:42] s-glatshtein commented on #219
Hi @kishangupta-15. I will open an issue to add the missing driver builders

[2021-07-08 12:17] Chrys123 commented on #198
Its not working. Reopening

[2021-07-08 12:20] Chrys123 opened #227 "Report doesnt show results properly"
It still fails intermittently on findElement and it doesnt show screenshot on the failed end result
![findElement](https://user-images.githubusercontent.com/32673876/124920470-ddb48700-dfe6-11eb-8b9e-69d160d3bcc9.PNG)
![no screenshot](https://user-images.githubusercontent.com/32673876/124920473-de4d1d80-dfe6-11eb-86fb-b7ede5cb464e.PNG)

[2021-07-08 12:20] Chrys123 commented on #227
This is on Open SDK C#

[2021-07-08 14:18] kishangupta-15 commented on #219
@s-glatshtein Thank you Shai!
And could you also clarify my doubt about the precedence of TP_DEV_TOKEN variable?

[2021-07-08 14:51] oriddd opened #228 "Reports performance with latency issues - allow reporting steps at batches from OpenSDK"
Due to performance issues, with latency issues.
Current logic is reporting steps one by one.
Additional logic is required to fix that performance issues with latency issues.
Instead of reporting steps one by one - report steps at batches of up to 10 steps in a time.

[2021-07-08 16:53] s-glatshtein commented on #198
Hi Chrys. Can you please tell me what agent version you are using that reproduces the problem?

[2021-07-08 19:00] Chrys123 commented on #198
The latest one

On Thu, 8 Jul 2021, 17:53 Shai Glatshtein, ***@***.***> wrote:

[2021-07-11 07:34] s-glatshtein opened #229 "output isn't written to console in xUnit tests"
xUnit seem to override the standard console output, preventing important information such as the report URL from being shown to the user. We should investigate how to integrate with xUnit logger

[2021-07-11 13:04] s-glatshtein commented on #227
Hi Chrys. Couple of questions for clarification:
- Can you share the code line that does this find element?
- Is the screenshot issue consistent?

[2021-07-11 13:06] s-glatshtein commented on #224
Hi @kishangupta-15. Exporting C# code for OpenSDK is not yet implemented. I will check with the team and update you when I have a more clear timeline when it is done.

[2021-07-11 13:55] s-glatshtein commented on #198
Hi Chrys. I just ran the following scenario:

- Using the latest C# OpenSDK (i'm using 1.2.2)
- Using Agent 3.0.5
- Created a base class with 2 [TestFixture] annotations: 1 for chrome and 1 for firefox
- Created a test class with a single navigate step that inherits from the class above.
- Ran the test. Got 2 test cases, each ran on a different browser.
- Looked at the report and saw that it has 2

[2021-07-11 14:13] s-glatshtein commented on #217
Thanks for the extra information @kishangupta-15. I've ran a little investigation of my own:

- Wrote a simple test
- Ran the entire test code with `Task.Run(...).Wait()` - saw the empty test name phenomenon.
- Ran 1 driver command before - Got the correct test name
- Ran 1 driver command after - Got the correct test name

Is this consistent with the behavior you're seeing?

[2021-07-11 15:43] kishangupta-15 commented on #217
@s-glatshtein Yes Shai, this is consistent with what the behavior that I saw. If there is no driver command that is ran before the Task.Run(...).Wait(), the driver command after also give blank test name.

[2021-07-13 14:55] kishangupta-15 opened #231 "Steps can only be reported as passed or failed. No way to report warnings or information"
driver.Report().Step() can only accommodate pass or fail. There are situations when we need to give some warning or provide information in the report. This is missing right now.

[2021-07-14 10:12] kishangupta-15 opened #232 "WebDriverWait with ExpectedCondition InvisibilityOfElementLocated results in failed step being reported even when it return true output"
Driver = new ChromeDriver();
 wait = new WebDriverWait(Driver, TimeSpan.FromSeconds(10));
wait.Until(ExpectedConditions.InvisibilityOfElementLocated(locator);

Output should be: Any ExpectedConditions which return a boolean value should only be reported as failure when it returns false.

![image](https://user-images.githubusercontent.com/54025467/125605055-641422ed-4570-43e0-bcb5-e8b4350d0a9e.png)

[2021-07-14 12:59] Chrys123 commented on #227
So the screenshot issue on failure is consistent. I cant see the screenshot that the failed test is generated. I am using SDK 65

[2021-07-14 12:59] Chrys123 commented on #198
We can close this

[2021-07-14 12:59] #198 closed

[2021-07-14 13:05] kishangupta-15 opened #233 "ChromeOptions are not being passed to the driver correctly and hence ChromeBrower is not being set up as required"
var chromeOptions = new ChromeOptions();
chromeOptions.AddUserProfilePreference("download.default_directory", FolderManager.DownloadsPath);
chromeOptions.AddUserProfilePreference("intl.accept_languages", "nl");
chromeOptions.AddUserProfilePreference("disable-popup-blocking", "true");
IWebDriver driver = new ChromeDriver(chromeOptions:chromeOptions, disableReports:true);
driver.Navigate().GoToUrl("

[2021-07-14 13:11] s-glatshtein commented on #227
0.65? It's pretty old. I'm assuming your version is a little newer :)
What about the code that looks for this element? can you share it please?

[2021-07-14 14:08] Chrys123 commented on #227
1.22

On Wed, 14 Jul 2021, 14:11 Shai Glatshtein, ***@***.***>
wrote:

[2021-07-14 15:15] SantoshYakkala opened #234 "Agent failed with 500 error code when colon is passed to driver"
public static string datetime = DateTime.Now.ToString();
public ChromeDriver driver = new(token: DevToken,reportName:"Test-1" + datetime, reportPath:"C:\\Share");

TestProject.OpenSDK.Exceptions.AgentConnectException
  HResult=0x80131500
  Message=Agent responsed with status code 500: [Illegal char <:> at index 27: C:\Share\Test-115/07/2021 1:07:29 AM.html]
  Source=TestProject.OpenSDK
  StackTrac

[2021-07-15 08:08] s-glatshtein commented on #234
So the colon is clearly an illegal character.
@mstrelex I think agent should sanitize the file name, since it returns the path it saves in

[2021-07-15 12:55] mstrelex commented on #234
Agree

[2021-07-19 08:13] s-glatshtein commented on #227
Can you please share the code that looks for this element? Without the code sample we cannot solve the problem.

[2021-07-19 09:30] Chrys123 commented on #227
public bool atRevalidationAppSixthStepSummaryPage(string date, string enddate,string employmenttype, string scopeofpractice, string registrationarea){
        boolResult = this.driver.FindElement(this.datesColumn).Displayed;
        Assert.AreEqual(this.driver.FindElement(this.datesColumnContainer).Text, date);
        //Assert.AreEqual(this.driver.FindElement(this.toDateContainer).Text, enddate);

[2021-07-19 10:09] Chrys123 commented on #191
Hi can I have an updated timeline for this ? Ive been told it's going to be delivered in release 3.2.0 but can I please have a more defined timeline?

[2021-07-19 10:17] s-glatshtein commented on #227
Thanks for the information. I'll start working on it from our end.
In the meanwhile, it would help me if when it happens to you again you would send me the agent logs over intercom.
It has to be right after the execution or the logs will be overwritten.
I'll keep you posted when i find the root cause

[2021-07-19 10:52] s-glatshtein commented on #233
Thanks for reporting this issue.
I believe a fix will be available in the upcoming agent release. We will keep you posted when it is released.

[2021-07-19 10:52] s-glatshtein commented on #232
Thanks for reporting this issue. We will take a look at it and update you when a fix is available

[2021-07-19 10:53] s-glatshtein commented on #228
The related PR was merged and therefore the issue can be closed.

[2021-07-19 10:53] #228 closed

[2021-07-20 12:57] kishangupta-15 commented on #229
@s-glatshtein Hello Shai, I had a small request, if you could add this bug the priority list, that would be really great. It will make debugging a lot easier.

[2021-07-20 13:46] s-glatshtein commented on #229
It is in the priority list. The solution however is not as straight forward as i hoped so it is taking a little longer than expected.

[2021-07-28 14:42] SantoshYakkala commented on #227
You have the screenshot in your local HTML report, but not on the report submitted to the server. @s-glatshtein @Chrys123 I think this issue was fixed as part of the latest agent 3.1.0. It was happening because of the report timeout. Now it is not happening on the latest agent.

[2021-07-29 08:52] AnnaSwietek opened #239 "Impossible to create session with certain capabilities"
OpenSDK 1.1.1
TP Agent 3.1.0.618

**Error:** Agent responsed with status code 500: [Unable to create session from {
  "desiredCapabilities"

**Capabilities sent by us:**
Creating session with W3C capabilities: {
  "alwaysMatch": {
    "appium:deviceName": null,
    "appium:dontStopAppOnReset": true,
    "appium:noReset": false,
    "appium:fullReset": false,
    "appium:unicodeKeyboard": true,

[2021-08-03 08:58] AnnaSwietek opened #240 "iOS performance drop"
for iOS HTML test execution there is a significant drop of performance (not only for our automation tool integration, but also for the script used with openSDK)

- for our automation tool integration the time went up from 01:32.1 to 06:42.8 min
- for the script used with openSDK the time went up from 00:10 to 00:55.5 min

[2021-08-03 09:04] AnnaSwietek opened #241 "Add support for iOS real devices on Sauce Labs"
TestProject only supports EMUSIM, adding support for RDC (Real Device Cloud) is key for our automation tool users

[2021-08-03 09:05] AnnaSwietek opened #242 "REMOVED"
REMOVED

[2021-08-03 09:29] #242 closed

[2021-08-03 13:34] mstrelex commented on #241
@AnnaSwietek

I believe that you are referring to the platform integration and not the SDK.
With the SDK you can work with both - EMUSIM and RDC, it's a matter of the UDID (Device ID) you provide:

[code]

As for the platform integration, for recorded tests execution,
since SL does not support creating sessions in W3C mode with real devices, we will have to wait on that, until they do.

Creating J

[2021-08-03 15:38] mstrelex commented on #240
@AnnaSwietek

iOS HTML is the automation of websites in mobile Safari?
Can you send a code snippet and Agent logs to us?

[2021-08-03 15:53] s-glatshtein commented on #239
Hi Anna. Can you please share the code that creates your capabilities?

[2021-08-03 15:57] s-glatshtein commented on #234
Hi @SantoshYakkala
I'd like to update you that a fix for this issue will be implemented in the upcoming agent version that should be released next week. I am closing this bug. If once agent 3.2.0 is released the problem returns, please feel free to contact us again.

[2021-08-03 15:57] #234 closed

[2021-08-04 08:51] AnnaSwietek commented on #240
The highest performance drops are at session start, and once you chooce a vale from combobox, then it locks up for a few minutes.
Session initiation for us lasts 1.5 minutes, with TP 7 minutes.
Choosing combobox with us 7 sec, with TP 4 min 7 sec - choosing the country in combobox
Web session setup 4 min 40 sec, ours 30 sec

[2021-08-05 11:13] kishangupta-15 opened #243 "Unable to use TestProject Addons with C# OpenSDK"
There is no way to use TestProject Platform's Addons with C# OpenSDK

[2021-08-05 11:19] kishangupta-15 commented on #224
@s-glatshtein Hello Shai, do we have any update on this issue?

[2021-08-05 11:20] kishangupta-15 commented on #59
@s-glatshtein - Hello Shai, do we have any update on this?

[2021-08-05 14:26] mstrelex commented on #243
What are you trying to do? Run an addon using a proxy from within a C# coded test?

[2021-08-05 14:27] mstrelex commented on #224
@kishangupta-15

This is still pending, we will update when we will have an estimate.

[2021-08-05 14:30] mstrelex commented on #59
@kishangupta-15 It's scheduled for Q4'21.

[2021-08-05 14:47] kishangupta-15 commented on #243
Yes, I want to use PDF Actions addon for now in my C# coded test.
There are few other addons too which I am looking forward to use though like Random Data Generator, Database addon etc. but right now I need to use PDF Actions for PDF validations in my coded C# test.

[2021-08-05 15:48] mstrelex commented on #243
Right now it is not possible to generate an addon proxy for C# OpenSDK.
It is also in our enhancements list and we will inform you when it will be implemented.

[2021-08-05 16:49] kishangupta-15 commented on #243
Okay. So after this enhancement is implemented, will I able able to use existing TestProject addons (which are created in Java using Legacy SDK) or do I have to write new addons in C# and then use them?

Also, currently is this functionality available in Java OpenSDK?

[2021-08-05 18:23] mstrelex commented on #243
Yes, the way addon proxies are designed allows you to use them from any other Open SDK.

Python - https://github.com/testproject-io/python-opensdk#addon-proxy
Java - https://github.com/testproject-io/java-opensdk#addon-proxy

[2021-08-05 18:37] kishangupta-15 commented on #243
Okay, thank you. Looking forward for this enhancement to be implemented to use existing proxies.

[2021-08-18 07:14] #208 closed

[2021-08-18 07:18] #229 closed

[2021-08-18 07:19] #232 closed

[2021-08-18 07:23] s-glatshtein commented on #239
Hi Anna. I took another look at the capabilities. I understand the issue is you do not specify device UDID. As a temporary workaround is it possible that you supply the UDID until we support this kind of scenario?

[2021-08-18 13:45] oriddd opened #244 "Invalid example under "Parameterizing Your Tests" section"
GitHub readme examples for  "Parameterizing Your Tests" are incorrect.
In those examples, there are coded values instead of parameters.

[2021-08-23 12:32] AnnaSwietek commented on #239
Yes, it is possible.

[2021-08-23 15:51] CustomerSuccessTP commented on #234
Hi,
We have released agent 3.2.0 and it's available now here:
https://app.testproject.io/#/download
Let us know if you encounter the issue again.

[2021-08-23 16:54] s-glatshtein commented on #233
Hi @kishangupta-15. We just released a new agent version. Can you try it and see if the capabilities work for you now?

[2021-08-23 18:01] mstrelex commented on #239
We will add additional logic for this in Agent 3.3.0.
When the UDID is not provided, the agent will search for the first available device and start the automation session there.

[2021-08-24 08:21] #240 closed

[2021-08-24 08:22] s-glatshtein commented on #244
Closing as the related PR was merged

[2021-08-24 08:22] #244 closed

[2021-09-01 16:36] Chrys123 commented on #227
Still problematic. I ran now coded tests from the platform. The tests are ran as normal but the results wrong 1 passed and 2 show as skipped. also it doesnt show the correct number of browsers
![wrong results 1](https://user-images.githubusercontent.com/32673876/131709572-3d48a9ab-dc73-470f-a2b2-bfa8bd17baf4.PNG)
![wrong results](https://user-images.githubusercontent.com/32673876/131709576-3c45e85

[2021-09-01 16:36] Chrys123 commented on #227
There is no problem with the tests actually running

[2021-09-05 06:03] s-glatshtein commented on #227
Hi @Chrys123.
Right now it is required that the driver created by the test is the safe as the browser it targets in the platform. That means if your test creates a `FirefoxDriver` you have to run it on a Firefox browser only. Running it on Chrome will give the error you showed.

[2021-09-06 07:50] Chrys123 commented on #227
But I don't understand the error.  I'm creating Firefox for Firefox. I
don't have this issue when I run the tests from development.

Also from cloud they run as normal but at the end they throw errors.

I don't understand all this and I hope the problems are solved soon

On Sun, 5 Sep 2021, 07:03 Shai Glatshtein, ***@***.***> wrote:

[2021-09-06 08:15] s-glatshtein commented on #227
Your tests wants to create a firefox driver, but you ran it in the platform as a chrome browser

[2021-09-06 08:27] Chrys123 commented on #227
Not really, the tests are parametrised anyway so I am not sure what do you mean by that

[2021-09-06 09:12] Chrys123 opened #247 "Issues with cloud platform test results"
I have a set up to run multiple browsers from the agent and browser stack.

Browser stack integration does not work on the cloud when i am trying to execute the tests,

The tests are fully parametrised and whenever i also try to run with agent browsers, the tests run perfectly browser by browser, but at the end they give wrong results.

They also throw the message that im trying to initialise Fire

[2021-09-06 09:13] Chrys123 commented on #247
The tests run perfectly both from browser stack and the agent browser without issues from the development environment. Its the cloud that has the issue,

[2021-09-07 14:01] Chrys123 commented on #247
![no progress](https://user-images.githubusercontent.com/32673876/132357981-75716520-8da4-42de-a507-32e355dd316f.PNG)

I tried only with chrome 93 agent browser and it doesnt show any progress either when the test is executing

[2021-09-07 14:05] Chrys123 commented on #247
also when it fails it doesnt show the steps as all just one failure and thats not even the step what fails

Could you please fix this as it is a mess
![test](https://user-images.githubusercontent.com/32673876/132358627-eb5da2ce-444c-4217-9125-7f25b850fd94.PNG)

[2021-09-07 14:19] Chrys123 commented on #247
The browser count also is not there

[2021-09-14 15:34] s-glatshtein commented on #239
Closing issue as agent 3.3.0 was released with a solution for this problem

[2021-09-14 15:34] #239 closed

[2021-09-14 15:36] s-glatshtein commented on #233
Hi @kishangupta-15. Were you able to try the new agent and see if the issue was resolved?

[2021-09-14 15:41] s-glatshtein commented on #227
Basically there's a conflict between the target you select in the platform and the type of driver used in your test.
Your test settings indicate the test is expected to run in Chrome, as follows:
![image](https://user-images.githubusercontent.com/58419147/133289405-79057b3d-7962-4d0b-960d-913a552fdce6.png)

The error is telling me the test you executed has tried to create a `FirefoxDriver`. This i

[2021-09-14 15:47] s-glatshtein commented on #217
Hi @kishangupta-15.
I ran some checks and it is impossible to infer the test name if the command runs inside another task. This is because the test name inferring relies on the current stack trace, and running a test in a task executes it in a separate thread with no trace (get it?) of the original test method.
Right now i don't see a way this scenario can be supported by automatic reporting. You

[2021-09-14 16:08] Chrys123 commented on #227
I’m using all 4 drivers in the initialization in a case/switch loop and i
parametrise the browsers that I want to execute in my test classes, as I
need to execute in different browsers.

I select exactly the same versions on the platform.

It should work like it does in my dev environment.

So this result is not justified.

Please fix this issue

On Tue, 14 Sep 2021 at 4:41 PM Shai Glatshtein ***@

[2021-09-15 13:45] kishangupta-15 commented on #233
@s-glatshtein - Thank you for the fix. I have tested it and it is working as expected. Closing the issue.

[2021-09-15 13:45] #233 closed

[2021-09-15 13:48] kishangupta-15 commented on #217
@s-glatshtein
Thank you for the update. I understand that nothing can be done regarding this as of now. Hence closing the issue.

[2021-09-15 13:48] #217 closed

[2021-09-15 13:50] kishangupta-15 commented on #224
@s-glatshtein, @mstrelex
Do you guys have an estimate for this at this moment?

[2021-09-20 13:24] Chrys123 commented on #227
It seems that this issues does not happen anymore but all the others do!

It reports false results. Failed element clicks etc.

It doesnt show the browser count either.

Please fix this issue asap

[2021-10-07 12:12] s-glatshtein opened #249 "Allow customizing session creation timeout"
Users are experiencing problems when opening sessions with cloud providers, where the session creation times out before the driver is created. We should allow such users to configure the timeout to solve these issues

[2021-11-11 13:26] kishangupta-15 opened #252 "Upgrade to latest stable selenium version 4.0.0"
Need to use new features of the latest selenium version 4.0.0.
Please upgrade the underlying to selenium version 4.0.0

[2021-11-11 13:28] s-glatshtein commented on #252
Thanks for posting @kishangupta-15.
We will add it to our release schedule and update you when it is ready

[2021-11-18 11:55] Chrys123 opened #253 "Tests are not executing on Test Project (urgent)"
There is an issue where the tests keep been skipped.

This was working before. You have changed something on the website and it doesnt work.

Coded Tests were running perfectly before.

Please fix immediately
[logs (6).zip](https://github.com/testproject-io/csharp-opensdk/files/7562512/logs.6.zip)

[2021-11-18 12:04] s-glatshtein commented on #253
Hi Chrys.
Can you please download the full logs of today and send them to support@testproject.io?
This must include the worker and browser logs of today

[2021-11-18 12:13] Chrys123 commented on #253
Please resolve this immediately I have sent the logs

[2021-11-18 13:02] vitalybu commented on #253
@Chrys123, please keep the conversation civilized.
If you believe the issue is with the OpenSDK, you can always rollback to an older version.
Demanding an "immediate fix" doesn't help, and will NOT prioritize this issue over other issues.
If you want to help resolving the issue as fast as possible, simply collaborate with the developers.

[2021-11-18 13:06] Chrys123 commented on #253
I am not sure what the issue is please. It looks like it is with the website. I rolled back to a previous one and its not working.

Sorry, but simply this prevents me doing my job properly and i have had other issues which have not been looked at for a very very long time,

This one is absolutely urgent and in my view it needs to be looked at immediately.

[2021-11-18 14:06] s-glatshtein commented on #253
Did you update anything? agent? SDK?

[2021-11-18 14:16] Chrys123 commented on #253
Agent it says the minimum required is 1.2.4 so i tried with previous agents
and sdks to upload coded tests.

The tests work perfectly when I run them on the  dev environment on any
case but not when i upload them on the test project cloud.

I cannot complete the build integration task without this being resolved,
so i would appreciate if we can find out what is causing this so i can run
my tests s

[2021-11-18 18:33] mstrelex commented on #253
@Chrys123 We are working on this and will keep you posted.

[2021-11-18 19:02] mstrelex commented on #253
@Chrys123 Please read my reply in mail.

[2021-11-18 19:05] Chrys123 commented on #253
I replied there already

On Thu, 18 Nov 2021, 19:02 Marat Strelets, ***@***.***> wrote:

[2021-11-19 08:32] Chrys123 commented on #253
OK so I downgraded to 95 Chrome as advised and I got the same thing

On Thu, 18 Nov 2021, 19:05 Chrysanthi Tsolomanidou, ***@***.***>
wrote:

[2021-11-24 09:54] kishangupta-15 commented on #229
@s-glatshtein  - Hello Shai, hope you are doing good. Could you please provide an example on how to use xUnit Logging with OpenSDK because I tried with the regular ITestOutputHelper class from xUnit, it is not working for me. I am making a mistake somewhere. An example would definitely help with this.

[2021-11-24 10:27] s-glatshtein commented on #229
Hi @kishangupta-15. Please refer to this section of the readme for more information: https://github.com/testproject-io/csharp-opensdk#capturing-output-in-xunit-tests

[2021-11-25 10:01] s-glatshtein commented on #253
Hi @Chrys123.
After a session where we re-uploaded the test package and deleted all cached coded tests, the problem was resolved.
Thanks for your cooperation on this matter!

[2021-11-25 10:01] #253 closed

[2021-11-25 10:05] Chrys123 commented on #253
Your welcome!!

On Thu, 25 Nov 2021, 10:02 Shai Glatshtein, ***@***.***>
wrote:

[2021-11-29 13:35] SantoshYakkala commented on #252
I vote for selenium 4 upgrade

[2022-03-09 17:19] Chrys123 opened #256 "Catch element exception appears as a step failure on the report"
public bool clickSubmitFurtherInformationButton(){
			try{
			this.driver.FindElement(this.submitFurtherInformationButton).Click();
			return true;
			}
			catch (NoSuchElementException e){
			return false;
			}
		}

[2022-03-15 17:45] Hoho5000 opened #257 "All Web drivers open in Chrome"
I have only been using Chrome to set up some tests using TestProject, but I have noticed that all Desktop Web drivers open Chrome.

It seems that https://github.com/testproject-io/csharp-opensdk/commit/91c5fc1a91c8a277730da90324c1e45609f7bb8f changed them all to use `BrowserType.Chrome` for some reason.

[2022-05-18 09:59] SantoshYakkala commented on #252
Hi Team,

Any update on the selenium 4 release?

[2022-06-30 11:33] Javageddon opened #260 "System.NullReferenceException: Object reference not set to an instance of an object."
Hi, I'm trying to convert my .net TestProject Android automation project to use SpecFlow, however I see a NullReferenceException when creating the driver on this line:
[code]

The app opens on the device but immediately shows the following error in Visual Studio:

[code]

The driver create code works perfectly ok if I just use TestProject without SpecFlow. I also successfully use very similar code

[2022-07-04 09:52] Javageddon commented on #260
Never mind. Installed TestProject.OpenSDK.SpecFlowPlugin NuGet package _again_ and is now working! Weird!

[2022-07-04 09:52] #260 closed